<div class="total-amount">
  <div class="amount">
    <h5>Pledged Amount</h5>
    <span class="value">{{currency | currencySymbol}}{{pledgedAmount | number:'1.2-2'}}</span>
  </div>
  <div *ngIf="shippingAmount" class="amount">
    <h5>Shipping Amount</h5>
    <span class="value">{{currency | currencySymbol}}{{shippingAmount | number:'1.2-2'}}</span>
  </div>
  <div *ngIf="totalAmount" class="amount">
    <h5>Total Amount</h5>
    <span class="value">{{currency | currencySymbol}}{{totalAmount | number:'1.2-2'}}</span>
  </div>
</div>
<div *ngIf="reward" class="address-summary">
  <div class="address-lbl">SELECTED REWARD</div>
  <div class="reward-title">{{reward?.title}}</div>
  <div class="reward-title">{{reward?.description}}</div>
  <div class="reward-title">Estimated delivery {{reward?.delivery_date | date:'mediumDate'}}</div>
</div>
<div *ngIf="!reward">
  <div class="address-lbl">SELECTED REWARD</div>
  <div>
    I just want to help this project
  </div>
</div>