<div class="campaign_create">
	<h1>Verification</h1>
	<div class="camp_create_box">
		<form [formGroup]="kycForm">
			<h2>Add a document to be verified</h2>
			<app-image-upload #imageUpload (click)="uploadImage()" (image)="setImageData($event)">
				<img src="assets/img/camera-img.png" alt="img">
				<h4>Upload Image</h4>
			</app-image-upload>
			<h2>Type of ID</h2>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="ID" formControlName="document_id">
					</div>
				</div>
				<div class="col-xs-6">
					<div class="camp_select slate">
						<select formControlName="document_type">
							<option>DRIVING LICENCE</option>
							<option>PASSPORT</option>
						</select>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="usr">Name on Doc</label>
				<input type="text" class="form-control" placeholder="Your Name and Surname" formControlName="name">
			</div>
			<h2>Nationality</h2>
			<div class="row">
				<div class="col-xs-12">
					<div class="camp_select2">
						<select formControlName="nationality">
							<option *ngFor="let nationality of nationalities">{{nationality}}</option>
						</select>
					</div>
				</div>
			</div>
			<h2>Birth Date</h2>
			<div style="display:inline-block; min-height:290px;">
				<datepicker [(ngModel)]="selectedDate" [ngModelOptions]="{standalone: true}"></datepicker>
			</div>
			<div class="camp_link"> <a (click)="submitKyc()" class="btnNext">SAVE</a> </div>
		</form>
	</div>
</div>