.save-button {
	padding: 0 20px 0 20px;
	border: 1px solid transparent;
	background-color: #333;
	color: white;
	border-radius: 5px;
	height: 34px;
	margin-top: -7px;
	&:hover {
		background-color: #29acbf;
	}
}

.fa {
	cursor: pointer;
}

.facebook-linked {
	background: #3b5998;
}

.twitter-linked {
	background: #4099FF;
}

.insta-linked {
	background: #fb3958;
}

.gplus-linked {
	background: #d34836;
}

.social-links {
	div {
		width: 75%;
	}
	p {
		font-size: 13px;
		margin: 0 0 15px !important;
	}
}