<section id="mypro_body">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title">{{project?.title}}</h2>
          </div>
          <div class="col-md-12 space20">
            <img *ngIf="project?.image_url" [src]="project?.image_url" width="100%" class="img-responsive center-block" alt="image">
          </div>
        </div>
        <div class="row space10">
          <div class="col-md-12">
            <div class="project_web">
              <ul>
                <li class="active"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;&nbsp;Project We Love</a></li>
                <li><a href="#"><i class="fa fa-compass" aria-hidden="true"></i>&nbsp;&nbsp;Web</a></li>
                <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Riverside, CA</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="mytabs">
              <ul class="tab">
                <li [ngClass]="{'active': selectedTab == 1}"><a class="tablinks" (click)="changeTab(1)">Campaign</a></li>
                <li [ngClass]="{'active': selectedTab == 2}"><a class="tablinks" (click)="changeTab(2)">Updates</a></li>
                <li [ngClass]="{'active': selectedTab == 3}"><a class="tablinks" (click)="changeTab(3)">Comments</a></li>
                <li [ngClass]="{'active': selectedTab == 4}"><a class="tablinks" (click)="changeTab(4)">Community</a></li>
              </ul>
            </div>
            <div class="" [ngSwitch]="selectedTab">
						  <ng-template [ngSwitchCase]="'1'" ngSwitchDefault> 
							  <app-campaign [story]="project?.story"></app-campaign>
						  </ng-template>
						  <ng-template [ngSwitchCase]="'2'" ngSwitchDefault> 
							  <app-updates></app-updates>
						  </ng-template>
						  <ng-template [ngSwitchCase]="'3'" ngSwitchDefault> 
                <app-comments></app-comments>
						  </ng-template>
						  <ng-template [ngSwitchCase]="'4'" ngSwitchDefault> 
							  <app-community></app-community>
						  </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right_detail2">
          <div class="row">
            <app-already-pledged [project]="project"></app-already-pledged>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="back_probtn">BACK THIS PROJECT</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 space30">
              <button type="button" class="linksbtn bgclr5cc5d3"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;&nbsp;Remind Me</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 space30">
              <button type="button" class="linksbtn bgclr39df12"><i class="fa fa-share" aria-hidden="true"></i>&nbsp;&nbsp;Share Now</button>
            </div>
            <div class="col-md-12 space20">
              <p class="clr42a7b3 fsize14">All or nothing. This project will only be funded if it reaches its goal by Wed, Feb 1 2017 1:00 AM +05:00.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2 class="subtitle3 space30">Support this project</h2>
              <div class="support_reward">
                <h3>Make a pledge without a reward</h3>
                <input type="text" class="form-control rewardtype" [(ngModel)]="amount" placeholder="10">
                <button type="button" appStripeForm [amount]="amount" [projectId]="project.id" class="linksbtn bgclff8e00 space20">Continue</button>
              </div>
            </div>
          </div>
          <div class="row">
            <app-pledge-more [project]="project"></app-pledge-more>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
