<div class="col-md-12">
  <div class="pledged_div">
<!--<<<<<<< HEAD
    <p><span class="fsize40 f500">${{project?.funded_amount}}</span>&nbsp;<span>pledged of ${{project?.pledged_amount}} goal</span></p>
    <div class="progress space10">
      <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%">
        <span class="sr-only"></span>
=======-->
    <div class="media-left">
       <div class="pouch-big pouch-big-half"> </div>
       </div>
       <div class="media-body">
        <p><span class="fsize40 f500">$3,519</span><span class="goals-txt">pledged of $7,999 goal</span></p>
        <p class="text-right created">Created January 17, 2017</p>
<!-->>>>>>> f2efa6931556c70f601548904ac46df41d174b2e-->
      </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="assets/img/img20.png" alt="image">
        </a>
      </div>
      <div class="media-body">
<!--<<<<<<< HEAD
        <h4 class="media-heading">{{project?.user_name}}<span class="padleft50"><a href="#" class="whiteclr"><img src="assets/img/icon2.png" alt="icon">&nbsp;Hey, I am online</a></span></h4>
        <p class="space20">on behalf of Victor Brockwell</p>
        <p class="space15"><span><i class="fa fa-map-marker fsize30" aria-hidden="true"></i>&nbsp;&nbsp;Newyork, United States of America</span></p>
        <p class="space15"><span><i class="fa fa-tag fsize30" aria-hidden="true"></i>&nbsp;&nbsp;{{project?.category_name}}</span></p>
      </div>
    </div>
  </div> 
  <div class="pledgedbtm">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 space15">
            <p>{{project?.percent_funded | number:'1.0-2' }}%<br>funded </p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 space15">
            <p>${{project?.pledged_amount}}<br>plegded</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 space15">
            <p>{{project?.total_backers}}<br>backers</p>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 space15">
            <p>{{project?.duration}}<br>days to go</p>
          </div>
        </div>
      </div>                  
=======-->
      <h4 class="media-heading">Brina Wingo </h4>
      <p class="space20">on behalf of Victor Brockwell</p>
      <p class="space15"><span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Newyork, United States of America</span></p>
      <p class="space15"><span><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp;Tabletop Games</span></p>
    </div>
<!-->>>>>>> f2efa6931556c70f601548904ac46df41d174b2e-->
    </div>
  </div> 
<div class="pledgedbtm">
  <ul>
    <li>
      <p>44%
        Funded </p>
    </li>
    <li>
      <p>$7,999
        Plegded</p>
    </li>
    <li>
      <p>175
        Backers</p>
    </li>
    <li>
      <p>31
        Days to go</p>
    </li>
  </ul>
</div>


