<!-- Faq Bnr -->
<div class="faq_banner">
  <div class="container">
    <h2>Crowdpouch Basics</h2>
    <form>
      <input type="text" placeholder="Search by Name, Category or Title">
      <button><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<!-- Faq Detail -->
<div class="faq_detail">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="heading-bar">
          <h2 class="title left">Faqs</h2>
        </div>
        
        <!-- According Style 1 -->
        <div class="panel-group accordion" id="accordion"> 
          
          <!-- According 1 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Neque porro quisquam est, qui dolorem ipsum</a> </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit <br>
                  quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,</p>
              </div>
            </div>
          </div>
          
          <!-- According 2 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed"> Sed quia non numquam eius modi tempora incidunt</a> </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit <br>
                  quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,</p>
              </div>
            </div>
          </div>
          
          <!-- According 3 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed"> Vel illum qui dolorem eum fugiat quo voluptas</a> </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit <br>
                  quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,</p>
              </div>
            </div>
          </div>
          
          <!-- According 4 -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapsefour" class="collapsed"> Neque porro quisquam est, qui dolorem ipsum</a> </h4>
            </div>
            <div id="collapsefour" class="panel-collapse collapse">
              <div class="panel-body">
                <p> Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit <br>
                  quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Faq Link -->
      <div class="col-md-3 col-md-offset-1 faq_link">
        <h4>Backer Questions</h4>
        <ul>
          <li><a href="#">Backing a project</a></li>
          <li><a href="#">Managing your pledge</a></li>
          <li><a href="#">Getting rewards</a></li>
          <li><a href="#">Profile settings</a></li>
          <li><a href="#">Troubleshooting</a></li>
        </ul>
        <h4>Creator Questions</h4>
        <ul>
          <li><a href="#">Getting started</a></li>
          <li><a href="#">Launching your project</a></li>
          <li><a href="#">Promoting your project</a></li>
          <li><a href="#">While your project is live</a></li>
        </ul>
        <h4>CROWDPOUCH Basics</h4>
        <ul>
          <li><a href="#">Accountability</a></li>
          <li><a href="#">Getting involved</a></li>
          <li><a href="#">Reporting a project</a></li>
          <li><a href="#">The Kickstarter App</a></li>
        </ul>
      </div>
    </div>
    <div class="still_button"><a href="#"><strong>Still need help?</strong> Contact us here.</a></div>
  </div>
</div>