<div class="row sign_1">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="onCloseModal()">×</button>
      <h1 class="modal-title">Log in
        <span class="white_txt">New to Crowdpouch Sign up Now!</span>
      </h1>
    </div>
    <div class="modal-body">
      <form>
        <div class="input-group">
          <input type="email" class="form-control loc2" placeholder="Your email address" required="">
          </div>
        <div class="input-group">
        <input type="password" class="form-control loc" placeholder="Your Password" required="">
        </div>
        <p class="pull-right space10">Forgot your password? </p>
        <div class="form-group">
          <button type="button" class="btn up me">LOG ME IN</button>
        </div>
        <div class="form-group our">
          <input type="checkbox" id="custom_checkbox2">
          <label for="custom_checkbox2">Remember me </label>
        </div>
      </form>
      <p class="text-center">Or Log in with</p>
    </div>
    <div class="modal-footer">
      <p>
        <button class="btn fb">
          <i class="fa fa-facebook" aria-hidden="true"></i>facebook
        </button>
        <button class="btn go">
          <i class="fa fa-google" aria-hidden="true"></i>Google
        </button>
      </p>
      <p class="text-center by1 space10">We’ll never post anything on Facebook &amp; Google without your permission.</p>
    </div>
  </div>
</div>
