    /*
    Flaticon icon font: Flaticon
    Creation date: 23/04/2017 13:01
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-chat:before { content: "\f100"; }
.flaticon-notification:before { content: "\f101"; }
.flaticon-cross:before { content: "\f102"; }
.flaticon-close:before { content: "\f103"; }
.flaticon-cancel:before { content: "\f104"; }
.flaticon-play-button:before { content: "\f105"; }
.flaticon-users:before { content: "\f106"; }
.flaticon-arrows-1:before { content: "\f107"; }
.flaticon-arrows:before { content: "\f108"; }
.flaticon-down-arrow:before { content: "\f109"; }
.flaticon-back:before { content: "\f10a"; }
.flaticon-next:before { content: "\f10b"; }
.flaticon-magnifying-glass:before { content: "\f10c"; }
.flaticon-search:before { content: "\f10d"; }
.flaticon-user:before { content: "\f10e"; }
.flaticon-diamond:before { content: "\f10f"; }
.flaticon-man:before { content: "\f110"; }
.flaticon-technology-1:before { content: "\f111"; }
.flaticon-men-dancing:before { content: "\f112"; }
.flaticon-note:before { content: "\f113"; }
.flaticon-technology:before { content: "\f114"; }
.flaticon-sign-in:before { content: "\f115"; }
.flaticon-dinner:before { content: "\f116"; }
.flaticon-cutlery:before { content: "\f117"; }
.flaticon-gamepad:before { content: "\f118"; }
.flaticon-video-camera:before { content: "\f119"; }
.flaticon-donation:before { content: "\f11a"; }
.flaticon-target:before { content: "\f11b"; }
.flaticon-charity:before { content: "\f11c"; }
.flaticon-login:before { content: "\f11d"; }
.flaticon-stopwatch:before { content: "\f11e"; }
.flaticon-alarm-clock:before { content: "\f11f"; }
.flaticon-hourglass:before { content: "\f120"; }
.flaticon-idea:before { content: "\f121"; }
.flaticon-music-player:before { content: "\f122"; }
.flaticon-note-1:before { content: "\f123"; }
.flaticon-goal:before { content: "\f124"; }
.flaticon-headphones:before { content: "\f125"; }
    
    $font-Flaticon-chat: "\f100";
    $font-Flaticon-notification: "\f101";
    $font-Flaticon-cross: "\f102";
    $font-Flaticon-close: "\f103";
    $font-Flaticon-cancel: "\f104";
    $font-Flaticon-play-button: "\f105";
    $font-Flaticon-users: "\f106";
    $font-Flaticon-arrows-1: "\f107";
    $font-Flaticon-arrows: "\f108";
    $font-Flaticon-down-arrow: "\f109";
    $font-Flaticon-back: "\f10a";
    $font-Flaticon-next: "\f10b";
    $font-Flaticon-magnifying-glass: "\f10c";
    $font-Flaticon-search: "\f10d";
    $font-Flaticon-user: "\f10e";
    $font-Flaticon-diamond: "\f10f";
    $font-Flaticon-man: "\f110";
    $font-Flaticon-technology-1: "\f111";
    $font-Flaticon-men-dancing: "\f112";
    $font-Flaticon-note: "\f113";
    $font-Flaticon-technology: "\f114";
    $font-Flaticon-sign-in: "\f115";
    $font-Flaticon-dinner: "\f116";
    $font-Flaticon-cutlery: "\f117";
    $font-Flaticon-gamepad: "\f118";
    $font-Flaticon-video-camera: "\f119";
    $font-Flaticon-donation: "\f11a";
    $font-Flaticon-target: "\f11b";
    $font-Flaticon-charity: "\f11c";
    $font-Flaticon-login: "\f11d";
    $font-Flaticon-stopwatch: "\f11e";
    $font-Flaticon-alarm-clock: "\f11f";
    $font-Flaticon-hourglass: "\f120";
    $font-Flaticon-idea: "\f121";
    $font-Flaticon-music-player: "\f122";
    $font-Flaticon-note-1: "\f123";
    $font-Flaticon-goal: "\f124";
    $font-Flaticon-headphones: "\f125";