<!-- Our Press -->
<div class="sub-bnr-flat">
  <div class="container">
    <h2>Our Press and Testimonials</h2>
    <p>click on each logo to read the article</p>
  </div>
</div>

<!-- brand_logo  -->
<div class="brand_logo">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4"><a href="#"><img src="images/brand-logo1.jpg" class="img-responsive" alt="img"></a></div>
      <div class="col-xs-6 col-sm-4"><a href="#"><img src="images/brand-logo2.jpg" class="img-responsive" alt="img"></a></div>
      <div class="col-xs-6 col-sm-4"><a href="#"><img src="images/brand-logo3.jpg" class="img-responsive" alt="img"></a></div>
      <div class="col-xs-6 col-sm-4"><a href="#"><img src="images/brand-logo4.jpg" class="img-responsive" alt="img"></a></div>
      <div class="col-xs-6 col-sm-4"><a href="#"><img src="images/brand-logo5.jpg" class="img-responsive" alt="img"></a></div>
      <div class="col-xs-6 col-sm-4"><a href="#"><img src="images/brand-logo6.jpg" class="img-responsive" alt="img"></a></div>
    </div>
  </div>
</div>