<div class="cod-block">
	<div class="section-help">
		<span class="lbl">
			Pay with Sofort
		</span>
		<span class="sub-lbl">
			SOFORT is one of the safest payment methods on the Internet. With 
			SOFORT you use your secure online banking. Entry of your online 
			banking details and of the confirmation code, occurs  entirely in the
			secure payment form of SOFORT GmbH, where the merchant has no access.
		</span>
	</div>
</div>

<div class="pay-btn-wrap">
	<button (click)="createSourceObject()" class="pay-btn">PLEDGE</button>
</div>