<div class="tab-pane">
  <h2> Projects I backed</h2>

  <!-- Projects -->
  <div class="projects padding-0">
    <div class="row"> 
      
      <!-- Projects Item -->
      <div class="col-sm-6">
        <article>
          <div class="p-img"> <img src="assets/img/p-img-1.jpg" alt="" > </div>
          <div class="text-part"> <a href="#.">BLOOD MACHINES - Turbo Killer 2</a> </div>
          <ul>
            <li class="pouch-info"> <i class="pouch"></i> <span>44%</span> </li>
            <li> <i class="flaticon-target"></i> <span>$7,999</span> </li>
            <li> <i class="flaticon-user"></i> <span>179</span> </li>
            <li> <i class="flaticon-alarm-clock"></i> <span>13</span> </li>
          </ul>
        </article>
      </div>
      
      <!-- Projects Item -->
      <div class="col-sm-6">
        <article>
          <div class="p-img"> <img src="assets/img/p-img-1.jpg" alt="" > </div>
          <div class="text-part"> <a href="#.">BLOOD MACHINES - Turbo Killer 2</a> </div>
          <ul>
            <li class="pouch-info"> <i class="pouch pouch-half"></i> <span>55%</span> </li>
            <li> <i class="flaticon-target"></i> <span>$7,999</span> </li>
            <li> <i class="flaticon-user"></i> <span>179</span> </li>
            <li> <i class="flaticon-alarm-clock"></i> <span>13</span> </li>
          </ul>
        </article>
      </div>
      
      <!-- Projects Item -->
      <div class="col-sm-6">
        <article>
          <div class="p-img"> <img src="assets/img/p-img-1.jpg" alt="" > </div>
          <div class="text-part"> <a href="#.">BLOOD MACHINES - Turbo Killer 2</a> </div>
          <ul>
            <li class="pouch-info"> <i class="pouch"></i> <span>44%</span> </li>
            <li> <i class="flaticon-target"></i> <span>$7,999</span> </li>
            <li> <i class="flaticon-user"></i> <span>179</span> </li>
            <li> <i class="flaticon-alarm-clock"></i> <span>13</span> </li>
          </ul>
        </article>
      </div>
      
      <!-- Projects Item -->
      <div class="col-sm-6">
        <article>
          <div class="p-img"> <img src="assets/img/p-img-1.jpg" alt="" > </div>
          <div class="text-part"> <a href="#.">BLOOD MACHINES - Turbo Killer 2</a> </div>
          <ul>
            <li class="pouch-info"> <i class="pouch"></i> <span>44%</span> </li>
            <li> <i class="flaticon-target"></i> <span>$7,999</span> </li>
            <li> <i class="flaticon-user"></i> <span>179</span> </li>
            <li> <i class="flaticon-alarm-clock"></i> <span>13</span> </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</div>