<div class="campaign_create">
	<h1>add links</h1>
	<form [formGroup]="linkForm">
		<div formArrayName="links_attributes">
			<div *ngFor="let link of getLinks(); let i = index">
				<div class="camp_create_box" formGroupName="{{i}}">
					<div class="camp_add_png">
						<h2>Add a Link</h2>
						<p>Lorem Ipsum </p>
					</div>
					<div class="camp_mrg2"></div>
					<h2>Link n.{{i+1}}</h2>
					<p>Introduce yourself,, your campaign and why it's important to you. </p>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Http:\\.." formControlName="url">
						<p *ngIf="link.get('url').hasError('required') && (link.get('url').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
					</div>
					<!--<div class="camp_mrg"></div>
					<div class="camp_add_png">
						<h2>Add a Link</h2>
						<p>Lorem ipsum</p>
					</div>-->
				</div>
			</div>
		</div>
	</form>
	<div class="camp_mrg"></div>
	<div class="camp_link">
		<a (click)="onSubmit()" class="btnNext pull-right" style="width:48%">NEXT</a>
		<a (click)="onAddLink()" class="camp_btn btn-default faq-add-panel" style="width:48%">
			<i class="fa fa-plus"></i> Add New Link
		</a>
	</div>
</div>