<div class="campaign_create">
	<h1>Verification</h1>
	<div class="camp_create_box">
		<h2>Add a document to be verified 
			<img src="assets/img/qstion-iconimg.png" alt="img">
			</h2>
			<p>Type of ID?</p>
			<div class="camp_id">
				<div class="row">
					<div class="col-xs-4">
						<h2>ID</h2>
						<p>Lorem Ipsum</p>
					</div>
					<div class="col-xs-8">
						<h2>DRIVING LICENCE</h2>
						<p>Lorem Ipsum</p>
					</div>
				</div>
			</div>
			<h2>Name on Doc</h2>
			<h3>Your Name and Surname</h3>
			<h2>Nationality</h2>
			<div class="row">
				<div class="col-xs-12">
					<div class="camp_select2">
						<select>
							<option>Alaska</option>
							<option>Alaska</option>
						</select>
					</div>
				</div>
			</div>
			<h2>Birth Date</h2>
			<div class="camp_date">
				<div class="form-group">
					<div class="col-xs-3">
						<select class="form-control">
							<option>Date</option>
							<option>Sunday</option>
						</select>
					</div>
					<div class="col-xs-3">
						<select class="form-control">
							<option>Month</option>
							<option>January</option>
						</select>
					</div>
					<div class="col-xs-3">
						<select class="form-control">
							<option>Year</option>
							<option>2001</option>
						</select>
					</div>
					<div class="col-xs-3"></div>
				</div>
			</div>
			<h2>Upload your Account Image</h2>
			<div class="camp_upload_img">
				<img src="assets/img/camera-img.png" alt="img">
					<h4>Upload Image</h4>
				</div>
				<h2>Add a small bio</h2>
				<p>What is the reward of your campaign?</p>
				<h3>Your Name and Surname</h3>
				<div class="camp_review_link">
					<a href="#">back to the editor</a>
					<a href="#">review and launch</a>
				</div>
			</div>
		</div>