<div class="container-fluid"> 
  <div class="row">
    <div class="event_title">
      <div class="col-xs-12 col-sm-6"> <img class="img-responsive" src="assets/img/event-title-img1.jpg" alt="img">
        <h2>EVENTS TITLE</h2>
        <h3>23 <span class="category_1">Jan <span class="category_2">2017</span></span> </h3>
      </div>
      <div class="col-xs-12 col-sm-6"> <img class="img-responsive" src="assets/img/event-title-img2.jpg" alt="img">
        <h2>EVENTS TITLE</h2>
        <h3>03 <span class="category_1">Feb <span class="category_2">2017</span></span> </h3>
      </div>
      <div class="col-xs-12 col-sm-6"> <img class="img-responsive" src="assets/img/event-title-img3.jpg" alt="img">
        <h2>EVENTS TITLE</h2>
        <h3>18 <span class="category_1">Jan <span class="category_2">2017</span></span> </h3>
      </div>
      <div class="col-xs-12 col-sm-6"> <img class="img-responsive" src="assets/img/event-title-img4.jpg" alt="img">
        <h2>EVENTS TITLE</h2>
        <h3>23 <span class="category_1">Feb <span class="category_2">2017</span></span> </h3>
      </div>
    </div>
  </div>
  
  <div class="event_new">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-12"> 
            <ul class="nav nav-tabs responsive" id="eventsTab">
              <li class="active"><a href="#new-events">new events</a></li>
              <li><a href="#participants">participants</a></li>
              <li><a href="#dates">dates</a></li>
            </ul>
            <div class="tab-content responsive">
              <div class="tab-pane active" id="new-events">
                <div class="event_new_box"> <img class="img-responsive" src="assets/img/evnt-box-img.png" alt="img">
                  <h2>Make/100: You-need-friends limited  edition</h2>
                  <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor in cidi d unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc ita tion. ullamco laboris nisi ut aliquip ex ea com </p>
                  <h3>Share and Invite!</h3>
                  <ul>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="event_new_box"> <img class="img-responsive" src="assets/img/evnt-box-img.png" alt="img">
                  <h2>Make/100: You-need-friends limited  edition</h2>
                  <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor in cidi d unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc ita tion. ullamco laboris nisi ut aliquip ex ea com </p>
                  <h3>Share and Invite!</h3>
                  <ul>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="event_new_box"> <img class="img-responsive" src="assets/img/evnt-box-img.png" alt="img">
                  <h2>Make/100: You-need-friends limited  edition</h2>
                  <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor in cidi d unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc ita tion. ullamco laboris nisi ut aliquip ex ea com </p>
                  <h3>Share and Invite!</h3>
                  <ul>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane" id="participants">
                <div class="event_new_box"> <img class="img-responsive" src="assets/img/evnt-box-img.png" alt="img">
                  <h2>Make/100: You-need-friends limited  edition</h2>
                  <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor in cidi d unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc ita tion. ullamco laboris nisi ut aliquip ex ea com </p>
                  <h3>Share and Invite!</h3>
                  <ul>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="event_new_box"> <img class="img-responsive" src="assets/img/evnt-box-img.png" alt="img">
                  <h2>Make/100: You-need-friends limited  edition</h2>
                  <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor in cidi d unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc ita tion. ullamco laboris nisi ut aliquip ex ea com </p>
                  <h3>Share and Invite!</h3>
                  <ul>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="event_new_box"> <img class="img-responsive" src="assets/img/evnt-box-img.png" alt="img">
                  <h2>Make/100: You-need-friends limited  edition</h2>
                  <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor in cidi d unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc ita tion. ullamco laboris nisi ut aliquip ex ea com </p>
                  <h3>Share and Invite!</h3>
                  <ul>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane" id="dates">
                <div class="event_new_box"> <img class="img-responsive" src="assets/img/evnt-box-img.png" alt="img">
                  <h2>Make/100: You-need-friends limited  edition</h2>
                  <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor in cidi d unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc ita tion. ullamco laboris nisi ut aliquip ex ea com </p>
                  <h3>Share and Invite!</h3>
                  <ul>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="event_new_box"> <img class="img-responsive" src="assets/img/evnt-box-img.png" alt="img">
                  <h2>Make/100: You-need-friends limited  edition</h2>
                  <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor in cidi d unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc ita tion. ullamco laboris nisi ut aliquip ex ea com </p>
                  <h3>Share and Invite!</h3>
                  <ul>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
                <div class="event_new_box"> <img class="img-responsive" src="assets/img/evnt-box-img.png" alt="img">
                  <h2>Make/100: You-need-friends limited  edition</h2>
                  <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor in cidi d unt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerc ita tion. ullamco laboris nisi ut aliquip ex ea com </p>
                  <h3>Share and Invite!</h3>
                  <ul>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6"> 
        <div class="event_flex_slider">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <div class="event_new_crowdpouch">
                  <h2>next event on crowdpouch</h2>
                  <div class="row">
                    <div class="col-xs-8 event_width"> <img class="img-responsive" src="assets/img/event-new-slderimg.jpg" alt="img">
                      <h3>Lorem Ipsum Beach!</h3>
                      <h4>by Crowdpouch</h4>
                      <p>Let's have a party with all your friends<br class="br"/>
                        and celebrate the successful ...</p>
                    </div>
                    <div class="col-xs-4 event_width">
                      <div class="event_new_beach">
                        <h2>BEACH PARTY</h2>
                        <h4>9.00 pm</h4>
                        <ul>
                          <li><img src="assets/img/loction-icon.png" alt="img"> 13 Beach Street<br class="br"/>
                            San Francisco,<br class="br"/>
                            109384 </li>
                        </ul>
                        <p>United States of America</p>
                        <a href="#">MORE DETAILS</a> </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="event_new_crowdpouch">
                  <h2>next event on crowdpouch</h2>
                  <div class="row">
                    <div class="col-xs-8 event_width"> <img class="img-responsive" src="assets/img/event-new-slderimg.jpg" alt="img">
                      <h3>Lorem Ipsum Beach!</h3>
                      <h4>by Crowdpouch</h4>
                      <p>Let's have a party with all your friends<br class="br"/>
                        and celebrate the successful ...</p>
                    </div>
                    <div class="col-xs-4 event_width">
                      <div class="event_new_beach">
                        <h2>BEACH PARTY</h2>
                        <h4>9.00 pm</h4>
                        <ul>
                          <li><img src="assets/img/loction-icon.png" alt="img"> 13 Beach Street<br class="br"/>
                            San Francisco,<br class="br"/>
                            109384 </li>
                        </ul>
                        <p>United States of America</p>
                        <a href="#">MORE DETAILS</a> </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="event_new_crowdpouch">
                  <h2>next event on crowdpouch</h2>
                  <div class="row">
                    <div class="col-xs-8 event_width"> <img class="img-responsive" src="assets/img/event-new-slderimg.jpg" alt="img">
                      <h3>Lorem Ipsum Beach!</h3>
                      <h4>by Crowdpouch</h4>
                      <p>Let's have a party with all your friends<br class="br"/>
                        and celebrate the successful ...</p>
                    </div>
                    <div class="col-xs-4 event_width">
                      <div class="event_new_beach">
                        <h2>BEACH PARTY</h2>
                        <h4>9.00 pm</h4>
                        <ul>
                          <li><img src="assets/img/loction-icon.png" alt="img"> 13 Beach Street<br class="br"/>
                            San Francisco,<br class="br"/>
                            109384 </li>
                        </ul>
                        <p>United States of America</p>
                        <a href="#">MORE DETAILS</a> </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="event_new_crowdpouch">
                  <h2>next event on crowdpouch</h2>
                  <div class="row">
                    <div class="col-xs-8 event_width"> <img class="img-responsive" src="assets/img/event-new-slderimg.jpg" alt="img">
                      <h3>Lorem Ipsum Beach!</h3>
                      <h4>by Crowdpouch</h4>
                      <p>Let's have a party with all your friends<br class="br"/>
                        and celebrate the successful ...</p>
                    </div>
                    <div class="col-xs-4 event_width">
                      <div class="event_new_beach">
                        <h2>BEACH PARTY</h2>
                        <h4>9.00 pm</h4>
                        <ul>
                          <li><img src="assets/img/loction-icon.png" alt="img"> 13 Beach Street<br class="br"/>
                            San Francisco,<br class="br"/>
                            109384 </li>
                        </ul>
                        <p>United States of America</p>
                        <a href="#">MORE DETAILS</a> </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="event_new_crowdpouch">
                  <h2>next event on crowdpouch</h2>
                  <div class="row">
                    <div class="col-xs-8 event_width"> <img class="img-responsive" src="assets/img/event-new-slderimg.jpg" alt="img">
                      <h3>Lorem Ipsum Beach!</h3>
                      <h4>by Crowdpouch</h4>
                      <p>Let's have a party with all your friends<br class="br"/>
                        and celebrate the successful ...</p>
                    </div>
                    <div class="col-xs-4 event_width">
                      <div class="event_new_beach">
                        <h2>BEACH PARTY</h2>
                        <h4>9.00 pm</h4>
                        <ul>
                          <li><img src="assets/img/loction-icon.png" alt="img"> 13 Beach Street<br class="br"/>
                            San Francisco,<br class="br"/>
                            109384 </li>
                        </ul>
                        <p>United States of America</p>
                        <a href="#">MORE DETAILS</a> </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="event_new_map"> <img class="img-responsive" src="assets/img/map-img.jpg" alt="img">
          <div class="event_new_map_input">
            <div class="row">
              <div class="col-xs-7 event_width">
                <h2>Map Search</h2>
                <p>Search by Postcode, City, etc..</p>
              </div>
              <div class="col-xs-5 event_width">
                <input type="email" placeholder="Type here...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>