<div class="col-md-12">
  <div *ngFor="let reward of project?.rewards;let i=index">
    <div *ngIf="isRewardValid(i)" class="pledgemore_right">
      <h4 class="clr42a7b3">{{ 'PROJ_DETAIL.PLEDGE_MORE_MSG1' | translate }} {{ project?.currency | currencySymbol }} {{reward.amount}} {{ 'PROJ_DETAIL.PLEDGE_MORE_MSG2'
        | translate }}</h4>
      <p><strong>{{reward.title}}</strong></p>
      <p class="space20">{{reward.description}}</p>
      <p class="space30"><strong>{{ 'PROJ_DETAIL.ESTIMATED_DELIVERY' | translate }}<br>{{reward.delivery_date | date:'mediumDate'}}</strong></p>
      <p *ngIf="isRewardValid(i)" class="space30 error">{{printRewardCount(i)}}</p>
      <p *ngIf="!isRewardValid(i)" class="space30 pledge_limit">Reward no longer available</p>
      <p class="space3">{{reward.backers_count}} backers</p>
      <input *ngIf="isRewardValid(i)" type="text" class="form-control rewardtype" [(ngModel)]="amount" placeholder="10">
      <p *ngIf="!isAmountValid" class="error">Please enter pledge amout more than {{reward.amount}}</p>
      <button *ngIf="ifAddressPresent()" type="button" class="linksbtn bgclr5cc5d3 space30" (click)="onContinue(i)">{{ 'PROJ_DETAIL.CONTINUE' | translate }}</button>
      <button *ngIf="!ifAddressPresent()" type="button" class="linksbtn bgclr5cc5d3 space30" (click)="enterAddress(i)">{{ 'PROJ_DETAIL.CONTINUE' | translate }}</button>
    </div>
  </div>
  <div class="reward_heading"> All Gone!</div>
  <div *ngFor="let reward of project?.rewards;let i=index">
    <div *ngIf="!isRewardValid(i)" class="pledgemore_right">
      <div>
        <h4 class="clr42a7b3">{{ 'PROJ_DETAIL.PLEDGE_MORE_MSG1' | translate }} {{ project?.currency | currencySymbol }} {{reward.amount}} {{ 'PROJ_DETAIL.PLEDGE_MORE_MSG2'
          | translate }}</h4>
        <p><strong>{{reward.title}}</strong></p>
        <p class="space20">{{reward.description}}</p>
        <p class="space30"><strong>{{ 'PROJ_DETAIL.ESTIMATED_DELIVERY' | translate }}<br>{{reward.delivery_date | date:'mediumDate'}}</strong></p>
        <p class="space30 pledge_limit">Reward no longer available</p>
        <p class="space3">{{reward.backers_count}} backers</p>
      </div>
    </div>
  </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delivery Address</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addressForm">
          <div formGroupName="address_attributes">
            <div class="input-group">
              <p>Street Address</p>
              <input type="text" formControlName="street_address" class="form-control">
            </div>
            <div class="input-group">
              <p>City</p>
              <input type="text" formControlName="city" class="form-control">
            </div>
            <div class="input-group">
              <p>Postcode</p>
              <input type="text" formControlName="postcode" class="form-control">
            </div>
            <div class="input-group camp_select slate">
              <p>Country</p>
              <select formControlName="country">
                <option *ngFor="let country of countries" [value]="country">{{country}}</option>
              </select>
            </div>
          </div>
        </form>
        <button class="save-address" (click)="saveAddress()" type="button">Save</button>
      </div>
    </div>
  </div>
</div>