.error{
    color: red
}

.input-group {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.save-address {
    border: 0px;
    padding: 7px 40px;
    background: #333;
    color: white;
    font-size: 20px;
    border-radius: 45px;
    margin-left: 42%;
}