<div class="col-md-12">
  <div *ngFor="let reward of project?.rewards" class="pledgemore_right">
    <h4 class="clr42a7b3">Pledge ${{reward.amount}} or more</h4>
    <p><strong>{{reward.title}}</strong></p>
    <p class="space20">{{reward.description}}</p>
    <p class="space30"><strong>ESTIMATED DELIVERY<br>{{reward.delivery_date | date:'mediumDate'}}</strong></p>
    <p class="space30">3 backers</p>
    <input type="text" class="form-control rewardtype" [(ngModel)]="amount" placeholder="10">
    <button [routerLink]="['/projects', project.id, 'payment']" 
            [queryParams]="{amount: amount, reward: reward.id}"
            type="button" class="linksbtn bgclr5cc5d3 space30">Continue
    </button>
  </div>
</div>