<!-- Banner About -->
<section id="banner_about" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="position-center-center">
      <div class="text-sec">
        <h1>Our mission is to help bring
          creativity together.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis dolor vel aliquam lobortis. Nulla facilisi. Maecenas hendrerit lacus sit amet molestie interdum. </p>
      </div>
    </div>
  </div>
</section>

<!-- Community -->
<section id="community">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 pad0">
        <div class="img-sec"> <img src="assets/img/img9.png" class="img-responsive ceneter-block" alt="image"> </div>
      </div>
      <div class="col-md-6 pad0">
        <div class="community_con">
          <div class="position-center-center">
            <h2 class="title">Our community.</h2>
            <p class="space20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis dolor vel aliquam lobortis. Nulla facilisi. Maecenas hendrerit lacus sit amet molestie interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam faucibus nisi nisi, eget pretium justo vehicula sed. Mauris maximus diam quis enim vulputate molestie. Fusce id nibh id felis euismod ultrices. </p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Our MISSION -->
    <div class="row">
      <div class="col-md-6 pad0">
        <div class="community_con">
          <div class="position-center-center">
            <h2 class="title">Our MISSION</h2>
            <p class="space20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis dolor vel aliquam lobortis. Nulla facilisi. Maecenas hendrerit lacus sit amet molestie interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam faucibus nisi nisi, eget pretium justo vehicula sed. Mauris maximus diam quis enim vulputate molestie. Fusce id nibh id felis euismod ultrices. </p>
            <a href="#" class="discovermore">DISCOVER MORE</a> </div>
        </div>
      </div>
      <div class="col-md-6 pad0">
        <div class="img-sec"> <img src="assets/img/img10.png" class="img-responsive center-block" alt="image"> </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Team -->
<section id="our_team">
  <div class="container">
    <div class="heading-bar text-center">
      <h2 class="title">meet OUR TEAM</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis dolor vel aliquam lobortis. Nulla facilisi. Maecenas hendrerit lacus sit amet molestie interdum.</p>
    </div>
    <div class="row space50">
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-1.jpg" class="img-responsive center-block" alt="image">
          <h3>john joe</h3>
          <p>Developer</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-2.jpg" class="img-responsive center-block" alt="image">
          <h3>Kelvin stone</h3>
          <p>CEO</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-3.jpg" class="img-responsive center-block" alt="image">
          <h3>NATHAN GREY</h3>
          <p>Customer care</p>
        </div>
      </div>
    </div>
    <div class="row space50">
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-3.jpg" class="img-responsive center-block" alt="image">
          <h3>steven stan</h3>
          <p>CFO</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-2.jpg" class="img-responsive center-block" alt="image">
          <h3>ALFRED WHITE</h3>
          <p>Developer</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <div class="team_detail"> <img src="assets/img/team-img-1.jpg" class="img-responsive center-block" alt="image">
          <h3>joe smith</h3>
          <p>Developer</p>
        </div>
      </div>
    </div>
  </div>
</section>