<div class="tab-pane">
  <h2>{{ 'USER_DASHBOARD.CAMPAIGNS' | translate }}</h2>
  <div class="comp_table">
    <table class="table">
      <thead>
        <tr>
          <th>Start Date</th>
          <th class="center">End Date</th>
          <th class="center">Name</th>
          <th class="center">Target</th>
          <th class="center">Funded</th>
          <th class="center"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of user.projects">
          <td>23-04-2017</td>
          <td class="center">28-04-2018</td>
          <td class="center">{{project.title}}</td>
          <td class="center">{{ project?.currency | currencySymbol }}{{project.pledged_amount}}</td>
          <td class="center">{{ project?.currency | currencySymbol }}{{project.funded_amount}}</td>
          <td class="center">
            <button class="btn edit-btn" [routerLink]="['/projects', 'edit', project.id]">{{ 'USER_DASHBOARD.EDIT' | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="isAuthUser()" class="text-center"> <a [routerLink]="['/projects','new']" class="btn">{{ 'USER_DASHBOARD.ADD_CAMPAIGN' | translate }}</a> </div>
  </div>
</div>