<div class="tab-pane">
  <h2> Campaigns</h2>
  <div class="comp_table">
    <table class="table">
      <thead>
        <tr>
          <th>Start Date</th>
          <th class="center">End Date</th>
          <th class="center">Name</th>
          <th class="center">Target</th>
          <th class="center">Founded</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>23-04-2017</td>
          <td class="center">28-04-2018</td>
          <td class="center">Here is you Campaigns tittle</td>
          <td class="center">$2500</td>
          <td class="center">$1850</td>
        </tr>
        <tr>
          <td>23-04-2017</td>
          <td class="center">28-04-2018</td>
          <td class="center">Here is you Campaigns tittle</td>
          <td class="center">$2500</td>
          <td class="center">$1850</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center"> <a href="#." class="btn">add a campaign</a> </div>
  </div>
</div>