<!--- newletter -->
<div class="sub-bnr-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Our Statistics</h2>
        <p>Stay up to date with our favorite projects,
          and any news and events that are on our radar</p>
      </div>
    </div>
  </div>
</div>

<!---- Funds Collected ------>
<div class="timmer_main  dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="timmer">
          <h2>Collected on Crowdpouch</h2>
          <span class="span">2</span> <span class="span">2</span> <span class="span">8</span> <span class="span">3</span> <span class="span">8</span> <span class="span">7</span> <span class="span">2</span> <span class="span">8</span> </div>
      </div>
      <div class="col-md-6">
        <div class="timmer">
          <h2>Projects Funded Successfully</h2>
          <span class="span">9</span> <span class="span">1</span> <span class="span">2</span> <span class="span">3</span> <span class="span">3</span> <span class="span">8</span> <span class="span">6</span> <span class="span">2</span> <span class="span">7</span> <span class="span">3</span> <span class="span">9</span> <span class="span">1</span> </div>
      </div>
      <div class="col-md-6">
        <div class="timmer">
          <h2>Members in 198 Countries</h2>
          <span class="span">1</span> <span class="span">2</span> <span class="span">3</span> <span class="span">3</span> <span class="span">8</span> <span class="span">6</span> <span class="span">2</span> <span class="span">7</span> <span class="span">3</span> <span class="span">9</span> </div>
      </div>
      <div class="col-md-6">
        <div class="timmer">
          <h2>Projects Presented</h2>
          <span class="span">1</span> <span class="span">2</span> <span class="span">3</span> <span class="span">3</span> <span class="span">8</span> <span class="span">6</span> <span class="span">2</span> <span class="span">7</span> <span class="span">3</span> <span class="span">9</span> </div>
      </div>
    </div>
  </div>
</div>

<!---- Funds Collected ------>
<div class="container">
  <div class="chart_main">
    <h2>Title Goes Here</h2>
    <div class="chart" id="chart">
      <ul id="numbers">
        <li>100</li>
        <li>90</li>
        <li>80</li>
        <li>70</li>
        <li>60</li>
        <li>50</li>
        <li>40</li>
        <li>30</li>
        <li>20</li>
        <li>10</li>
        <li>0</li>
      </ul>
      <ul id="bars">
        <li>
          <div data-percentage="40" class="bar"></div>
        </li>
        <li>
          <div data-percentage="40" class="bar"></div>
        </li>
        <li>
          <div data-percentage="55" class="bar"></div>
        </li>
        <li>
          <div data-percentage="60" class="bar"></div>
        </li>
        <li>
          <div data-percentage="65" class="bar"></div>
        </li>
        <li>
          <div data-percentage="70" class="bar"></div>
        </li>
        <li>
          <div data-percentage="75" class="bar"></div>
        </li>
        <li>
          <div data-percentage="87" class="bar"></div>
        </li>
        <li>
          <div data-percentage="76" class="bar"></div>
        </li>
        <li>
          <div data-percentage="80" class="bar"></div>
        </li>
        <li>
          <div data-percentage="90" class="bar"></div>
        </li>
        <li>
          <div data-percentage="95" class="bar"></div>
        </li>
        <li>
          <div data-percentage="105" class="bar"></div>
        </li>
      </ul>
    </div>
    <div class="years">
      <h3>2010</h3>
      <h4>2018</h4>
      <h2>Funds Collected</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="prograsbar_main">
    <h2>Title goes here</h2>
    <div class="statChartHolder">
      <div class="progress-pie-chart" data-percent="78"><!--Pie Chart -->
        
        <div class="ppc-progress">
          <div class="ppc-progress-fill"></div>
        </div>
        <div class="ppc-percents">
          <div class="pcc-percents-wrapper">
            <h6>%</h6>
          </div>
        </div>
      </div>
      <!--End Chart -->
      <h3>lorem ipsum</h3>
      <p>lorem ipsum loret 
        sine qua amet</p>
    </div>
    <div class="statChartHolder">
      <div class="progress-pie-chart" data-percent="30"><!--Pie Chart -->
        
        <div class="ppc-progress">
          <div class="ppc-progress-fill"></div>
        </div>
        <div class="ppc-percents">
          <div class="pcc-percents-wrapper">
            <h6>%</h6>
          </div>
        </div>
      </div>
      <!--End Chart -->
      <h3>lorem ipsum</h3>
      <p>lorem ipsum loret
        sine qua amet</p>
    </div>
    <div class="statChartHolder">
      <div class="progress-pie-chart" data-percent="15"><!--Pie Chart -->
        
        <div class="ppc-progress">
          <div class="ppc-progress-fill"></div>
        </div>
        <div class="ppc-percents">
          <div class="pcc-percents-wrapper">
            <h6>%</h6>
          </div>
        </div>
      </div>
      <!--End Chart -->
      <h3>lorem ipsum</h3>
      <p>lorem ipsum loret 
        sine qua amet</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="leaderboard">
    <h2>leaderboard</h2>
    <div class="round_main">
      <div class="round">
        <h4>John Smith</h4>
        <h3><strong>$</strong>3200</h3>
        <img src="assets/img/cup.png" class="img-responsive" alt="img"> </div>
      <div class="sp"></div>
      <div class="round2">
        <h4>mark gonzales</h4>
        <h3><strong>$</strong>100</h3>
      </div>
      <div class="sp"></div>
      <div class="round3">
        <h4>rose johnson</h4>
        <h3><strong>$</strong>52</h3>
      </div>
      <div class="sp"></div>
      <p>Top Backers <br/>
        Lorem Ipsum</p>
    </div>
  </div>
</div>