<div class="campaign_create">
	<h1>Pouches</h1>
	<div class="camp_create_box">
		<div class="panel-group" id="accordionReward">
			<form [formGroup]="rewardForm">
				<div formArrayName="rewards_attributes">
					<div *ngFor="let reward of getRewards(); let i = index">
						<div class="panel panel-default" formGroupName="{{i}}">
							<div class="panel-heading">
								<span (click)="removeReward(i, reward.get('id').value)" class="fa fa-times pull-right "></span>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionReward" href="#collapseReward">
									<h4 class="panel-title">
										Section #{{i+1}}
									</h4>
								</a>
							</div>
							<div id="collapseReward" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="camp_mrg2"></div>
									<!-- Reward body -->
									<div class="form-group">
										<label for="usr">Pouch Title</label>
										<input type="text" class="form-control" placeholder="Enter title" formControlName="title">
										<p *ngIf="reward.get('title').hasError('required') && (reward.get('title').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
									</div>
									<div class="form-group">
										<label for="comment">Pouch Description</label>
										<textarea class="form-control" rows="4" placeholder="Enter description" formControlName="description"></textarea>
										<p *ngIf="reward.get('description').hasError('required') && (reward.get('description').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
                    					<p *ngIf="reward.get('description').hasError('invalid') && (reward.get('description').touched || formSubmit)" class="value-err show">Pouch description must no exceed 350 characters or 50 words</p>
									</div>
									<h2>Pouch Amount</h2>
									<p>How much money for this pouch? </p>
									<div class="row">
										<div class="col-xs-6">
											<div class="form-group">
												<input type="number" class="form-control" placeholder="$ 500" formControlName="amount">
												<p *ngIf="reward.get('amount').hasError('required') && (reward.get('amount').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
												<p *ngIf="(reward.get('amount').hasError('invalid') || reward.get('quantity').hasError('invalid')) && (reward.get('amount').touched || reward.get('quantity').touched || formSubmit)" class="value-err show">Pouch amount x Pouch Quantity should be less than goal amount</p>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="camp_select slate">
												<select formControlName="currency">
													<option>USD</option>
													<option>GBP</option>
													<option>AUD</option>
													<option>CAD</option>
													<option>EUR</option>
												</select>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label for="usr">Pouch Quantity</label>
										<input type="number" class="form-control" placeholder="Enter quantity" formControlName="quantity">
										<p *ngIf="reward.get('quantity').hasError('required') && (reward.get('quantity').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
									</div>
									<h2>Pouch Delivery Date</h2>
									<div style="display:inline-block; min-height:290px;">
										<datepicker [(ngModel)]="selectedDate[i]" [ngModelOptions]="{standalone: true}"></datepicker>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<br>
			<div class="camp_mrg"></div>
			<div class="camp_link">
				<a (click)="onSubmit()" class="btnNext pull-right" style="width:48%">NEXT</a>
				<a (click)="onAddReward()" class="camp_btn btn-default reward-add-panel" style="width:48%">
					<i class="fa fa-plus"></i> Add New Pouch
				</a>
			</div>
		</div>
	</div>
</div>
