<!---- newletter ------>
<div class="newletter">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Newsletters</h2>
        <p>Stay up to date with our favorite projects,
          and any news and events that are on our radar</p>
      </div>
    </div>
  </div>
</div>
<!---- newletter end ------> 
<!---- new_choose ------>

<div class="new_choose">
  <div class="container">
    <div class="row">
      <div class="heading-bar text-center">
        <h2>Choose Your Fav Topics</h2>
      </div>
    </div>
    <div class="row"> 
      
      <!---- new_choose ------>
      <div class="col-xs-6 col-sm-4 new_width">
        <div class="new_box"> <img class="img-responsive" src="images/new-box1.jpg" alt="img">
          <div class="new_box_padng">
            <h3>Projects We Love</h3>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.</p>
            <button class="btn" type="submit">Sign up</button>
          </div>
        </div>
      </div>
      
      <!---- new_choose ------>
      <div class="col-xs-6 col-sm-4 new_width">
        <div class="new_box"> <img class="img-responsive" src="images/new-box2.jpg" alt="img">
          <div class="new_box_padng">
            <h3>Projects We Love</h3>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.</p>
            <button class="btn" type="submit">Sign up</button>
          </div>
        </div>
      </div>
      
      <!---- new_choose ------>
      <div class="col-xs-6 col-sm-4 new_width">
        <div class="new_box"> <img class="img-responsive" src="images/new-box3.jpg" alt="img">
          <div class="new_box_padng">
            <h3>Projects We Love</h3>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.</p>
            <button class="btn" type="submit">Sign up</button>
          </div>
        </div>
      </div>
      
      <!---- new_choose ------>
      <div class="col-xs-6 col-sm-4 new_width">
        <div class="new_box"> <img class="img-responsive" src="images/new-box4.jpg" alt="img">
          <div class="new_box_padng">
            <h3>Projects We Love</h3>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.</p>
            <button class="btn" type="submit">Sign up</button>
          </div>
        </div>
      </div>
      
      <!---- new_choose ------>
      <div class="col-xs-6 col-sm-4 new_width">
        <div class="new_box"> <img class="img-responsive" src="images/new-box5.jpg" alt="img">
          <div class="new_box_padng">
            <h3>Projects We Love</h3>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.</p>
            <button class="btn" type="submit">Sign up</button>
          </div>
        </div>
      </div>
      
      <!---- new_choose ------>
      <div class="col-xs-6 col-sm-4 new_width">
        <div class="new_box"> <img class="img-responsive" src="images/new-box6.jpg" alt="img">
          <div class="new_box_padng">
            <h3>Projects We Love</h3>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt.</p>
            <button class="btn" type="submit">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---- new_choose end ------> 
