<div class="campaign_create">
	<h1>review</h1>
	<div class="camp_review">
		<h2>Campaign Name</h2>
		<p>Campaign Name Lorem Ipsum</p>
		<div class="camp_mrg"></div>
		<h2>Pledge
			<span>$200</span>
		</h2>
		<div class="camp_mrg"></div>
		<h3>Campaign Main Image</h3>
		<img class="img-responsive" src="assets/img/reviwe-img.jpg" alt="img">
			<h3>Link and other Info</h3>
			<p>Your Name and Surname</p>
			<div class="camp_mrg"></div>
			<h2>Reward n.1
				<span>$10</span>
			</h2>
			<h2>Reward n.2
				<span>$200</span>
			</h2>
			<div class="camp_review_link">
				<a href="#">back to the editor</a>
				<a href="#">review and launch</a>
			</div>
		</div>
	</div>