<div class="campaign_create">
	<h1>{{ 'PROJ_CREATE.REVIEW' | translate }}</h1>
	<div class="camp_review">
		<div *ngIf="project.title">
			<h3>{{ 'PROJ_CREATE.CAMPAIGN_NAME' | translate }}</h3>
			<p>{{project.title}}</p>
		</div>
		<div *ngIf="project.pledged_amount" class="camp_mrg2">
			<h3>{{ 'PROJ_CREATE.CAMPAIGN_PLEDGE' | translate }}</h3>
			<p>{{project.pledged_amount}} {{project.currency}}</p>
		</div>
		<div *ngIf="project.pictures?.length > 0" class="camp_mrg2">
			<h3>{{ 'PROJ_CREATE.CAMPAIGN_IMAGE_MSG' | translate }}</h3>
			<span class="image-div" *ngFor="let picture of project?.pictures; let i = index">
				<img class="reward-image" [src]="picture.url" alt="img">
			</span>
		</div>
		<div *ngIf="project.video_url" class="camp_mrg2">
			<h3>{{ 'PROJ_CREATE.CAMPAIGN_VIDEO_MSG' | translate }}</h3>
			<a [href]="project.video_url">{{project.video_url}}</a>
		</div>
		<div *ngIf="project.funding_model" class="camp_mrg2">
			<h3>{{ 'PROJ_CREATE.CAMPAIGN_FUNDING_MODEL' | translate }}</h3>
			<p>{{project.funding_model}}</p>
		</div>
		<div *ngIf="project.duration" class="camp_mrg2">
			<h3>{{ 'PROJ_CREATE.CAMPAIGN_DURATION' | translate }}</h3>
			<p>{{project.duration}} Days</p>
		</div>
		<div *ngIf="project.story">
			<h3>{{ 'PROJ_CREATE.CAMPAIGN_STORY' | translate }}</h3>
			<div [innerHTML]="project.story.body" class="camp_mrg2"></div>
		</div>
		
		<div *ngIf="project.rewards?.length > 0" class="camp_mrg2">
			<h3 style="margin-bottom: 16px;">{{ 'PROJ_CREATE.CAMPAIGN_POUCHES' | translate }}</h3>
			<div *ngFor="let reward of project?.rewards">
				<h3 *ngIf="reward.title">{{reward.title}}</h3>
				<h3 *ngIf="reward.amount">$ {{reward.amount}}</h3>
				<p *ngIf="reward.description">{{reward.description}}</p>
				<img *ngIf="reward.image_url" class="img-responsive" [src]="reward.image_url" alt="img">
			</div>
		</div>
		<div *ngIf="project.faqs?.length > 0" class="camp_mrg2">
			<h3 style="margin-bottom: 16px;">{{ 'PROJ_CREATE.CAMPAIGN_FAQS' | translate }}</h3>
			<div style="margin-bottom: 15px;" *ngFor="let faq of project?.faqs; let i = index">
				<h3 *ngIf="faq.question">{{i+1}}.) {{faq.question}}</h3>
				<p *ngIf="faq.answer">{{faq.answer}}</p>
			</div>
		</div>
		<div class="camp_mrg2">
			<ul>
				<li class="value-err" *ngFor="let error of errors">
					{{error}}
				</li>
			</ul>
		</div>
		<div class="camp_link">
			<a *ngIf="!isEditing" (click)="lgModal.show()" class="btnNext pull-right" style="width:48%">{{ 'PROJ_CREATE.REVIEW_AND_LAUNCH' | translate }}</a>
			<a *ngIf="isEditing" (click)="onUpdate()" class="btnNext pull-right" style="width:48%">{{ 'PROJ_CREATE.REVIEW_AND_UPDATE' | translate }}</a>
			<a (click)="onBackToEditor()" class="camp_btn btn-default" style="width:48%">
				{{ 'PROJ_CREATE.BACK_TO_EDITOR' | translate }}
			</a>
		</div>
	</div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div>
					{{ 'PROJ_CREATE.REVIEW_NOTE' | translate }}
				</div>
				<br>
				<br>
				<div class="camp_link">
					<a (click)="onLaunch()" class="btnNext pull-right" style="width:48%">{{ 'PROJ_CREATE.LAUNCH' | translate }}</a>
					<a (click)="lgModal.hide()" class="camp_btn btn-default" style="width:48%">
						{{ 'PROJ_CREATE.BACK_TO_EDITOR' | translate }}
					</a>
				</div>
				<br>
      </div>
    </div>
  </div>
</div>