<!-- Parthner NGO -->
<div class="sub-bnr-flat">
  <div class="container">
    <h2>Our Best Parthners</h2>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
</div>

<!-- NGO Parthner -->
<div class="partners_details">
  <div class="container">
    <div class="media-left">
      <div class="inside-info"> <img src="images/hp.jpg" class="img-responsive img" alt="img">
        <div class="web-name"><a href="#">www.NGOwebsite.com</a></div>
      </div>
    </div>
    <div class="media-body">
      <h2>Parthner Name</h2>
      <h4>by <span>Company Name</span></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="btn">learn more</a> </div>
  </div>
</div>

<!-- NGO Parthner -->
<div class="our_partnership">
  <div class="container">
    <div class="heading-bar text-center">
      <h2>Our Partnership Programs </h2>
    </div>
    <div class="row"> 
      
      <!-- NGO Parthner -->
      <div class="col-md-4">
        <div class="partnership_box"> <img src="images/ngo1.jpg" class="img-responsive partnership_img" alt="img">
          <div class="full"> <a href="#.">NGO Name One</a> <span><i class="fa fa-map-marker margin-right-5"></i> New York</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
          </div>
          <a href="#" class="we-link">www.NGOwebsite.com</a> </div>
      </div>
      
      <!-- NGO Parthner -->
      <div class="col-md-4">
        <div class="partnership_box"> <img src="images/ngo2.jpg" class="img-responsive partnership_img" alt="img">
          <div class="full"> <a href="#.">NGO Name One</a> <span><i class="fa fa-map-marker margin-right-5"></i> New York</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
          </div>
          <a href="#" class="we-link">www.NGOwebsite.com</a> </div>
      </div>
      
      <!-- NGO Parthner -->
      <div class="col-md-4">
        <div class="partnership_box"> <img src="images/ngo3.jpg" class="img-responsive partnership_img" alt="img">
          <div class="full"> <a href="#.">NGO Name One</a> <span><i class="fa fa-map-marker margin-right-5"></i> New York</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
          </div>
          <a href="#" class="we-link">www.NGOwebsite.com</a> </div>
      </div>
      
      <!-- NGO Parthner -->
      <div class="col-md-4">
        <div class="partnership_box"> <img src="images/ngo1.jpg" class="img-responsive partnership_img" alt="img">
          <div class="full"> <a href="#.">NGO Name One</a> <span><i class="fa fa-map-marker margin-right-5"></i> New York</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
          </div>
          <a href="#" class="we-link">www.NGOwebsite.com</a> </div>
      </div>
      
      <!-- NGO Parthner -->
      <div class="col-md-4">
        <div class="partnership_box"> <img src="images/ngo2.jpg" class="img-responsive partnership_img" alt="img">
          <div class="full"> <a href="#.">NGO Name One</a> <span><i class="fa fa-map-marker margin-right-5"></i> New York</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
          </div>
          <a href="#" class="we-link">www.NGOwebsite.com</a> </div>
      </div>
      
      <!-- NGO Parthner -->
      <div class="col-md-4">
        <div class="partnership_box"> <img src="images/ngo3.jpg" class="img-responsive partnership_img" alt="img">
          <div class="full"> <a href="#.">NGO Name One</a> <span><i class="fa fa-map-marker margin-right-5"></i> New York</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
          </div>
          <a href="#" class="we-link">www.NGOwebsite.com</a> </div>
      </div>
    </div>
  </div>
</div>
<div class="ngo_map_main">
  <div class="container">
    <div class="ngo_map"> <img class="img-responsive" src="images/ngo-map.jpg" alt="img">
      <div class="ngo_map_input">
        <div class="row">
          <div class="col-sm-7 event_width">
            <h2>NGO Map Search</h2>
            <p>Search by Postcode, City, etc..</p>
          </div>
          <div class="col-sm-5 event_width">
            <input type="email" placeholder="Type here...">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>