@charset "utf-8";

/* CSS Document */

@font-face {

    font-family: 'MontserratBlack';

    src: url('../fonts/MontserratBlack.eot');

    src: url('../fonts/MontserratBlack.eot') format('embedded-opentype'),

         url('../fonts/MontserratBlack.woff2') format('woff2'),

         url('../fonts/MontserratBlack.woff') format('woff'),

         url('../fonts/MontserratBlack.ttf') format('truetype'),

         url('../fonts/MontserratBlack.svg#MontserratBlack') format('svg');

}

@font-face {

    font-family: 'MontserratSemiBold';

    src: url('../fonts/MontserratSemiBold.eot');

    src: url('../fonts/MontserratSemiBold.eot') format('embedded-opentype'),

         url('../fonts/MontserratSemiBold.woff2') format('woff2'),

         url('../fonts/MontserratSemiBold.woff') format('woff'),

         url('../fonts/MontserratSemiBold.ttf') format('truetype'),

         url('../fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');

}

@font-face {
    font-family: 'ralewayblack58a2e931b6326';
    src: url('../fonts/ralewayblack58a2e931b6326.eot');
    src: url('../fonts/ralewayblack58a2e931b6326.eot') format('embedded-opentype'),
         url('../fonts/ralewayblack58a2e931b6326.woff2') format('woff2'),
         url('../fonts/ralewayblack58a2e931b6326.woff') format('woff'),
         url('../fonts/ralewayblack58a2e931b6326.ttf') format('truetype'),
         url('../fonts/ralewayblack58a2e931b6326.svg#ralewayblack58a2e931b6326') format('svg');
}


a{

  text-decoration: none;

  -webkit-transition: all .5s ease-in-out;

  -o-transition: all .5s ease-in-out;

  transition: all .5s ease-in-out;

}

a:hover{ text-decoration:none; }



@charset "utf-8";

/* CSS Document */



body{ background:#FFF;  margin:0px; padding:0px; }

img{ margin:0px; padding:0px; }

*{ margin:0px; padding:0px; }

/***** event_page css *********/

/*** event_title ***/

.event_title{ width:100%; float:left; margin-top: 5px; } 

.event_title img{ width:100%; float:left; margin-bottom:25px; position:relative; }

.event_title h2{ position:absolute; bottom:65px; padding:18px 24px 13px 25px;  background:rgba(29,147,155, 0.7); font-size:19.06px; color:#FFF; line-height:23.14px; margin:0;  }
.event_title h2 a{ color:#fff;}
.event_title h3{ max-width:160px; position:absolute; right:15px; top:-20px; font-size:114.57px; background:rgba(29,147,155, 0.7);  color:#FFF; 

font-family: 'Raleway', sans-serif; font-weight:300; text-align:center; line-height:60px; padding:28px 0px 7px 5px }

.event_title .category_1{ width:100%; float:left; font-size:51.55px; color:#FFF; line-height:60px; }

.event_title .category_2{ font-size:23.16px; color:#000; line-height:28.13px;  position: relative; right: 9px; top: 3px; }

/*** event_title ***/

.event_new{ width:100%; float:left; margin-bottom:30px; }

.event_new .nav-tabs > li > a{ font-size:18px; color:#292929; text-transform:uppercase; padding-left:0; padding-right:0; }

.event_new .nav-tabs > li{ margin: 0 45px -1px 0; }

.event_new_box{ width:100%; float:left; border:1px solid #dfdfdf; padding:22px; color:#292929;  font-family: 'Montserrat';  line-height:20.01px; margin-top:20px; }

.event_new_box img{ width:auto; float:left; margin:0px 20px 0px 0px; } 

.event_new_box h2{ font-size:16px; }    

.event_new_box p{ font-size:12px; font-family: 'Montserrat Light'; }    

.event_new_box h3{ font-size:16px; color:#fa742c; text-transform:uppercase;  font-weight:800; }

.event_new_box ul{ display:inline; }

.event_new_box li{ width:30px; height:30px; float:left; list-style:none; margin:0px 10px 0px 0px; }

.event_new_box ul li a{ width:100%; height:100%;  float:left; background:#16acc0; text-align:center; color:#FFF; line-height:30px; font-size:16px; }

.event_new_box ul li a:hover{ background:#fa742c; }

/***/

.event_flex_slider{ width:100%; float:left;  background:url(../img/event-new-bg.jpg) no-repeat;  background-size:cover; padding-bottom:5px; }  

.event_flex_slider .flex-control-nav{ bottom:0; font-size:0; text-align:right;  padding: 0 30px 14px 0;}

.event_flex_slider .flex-control-nav li{ margin: 0 2px; }

.event_flex_slider .flex-control-paging li a{ background:rgba(161,211,217, 0.5); box-shadow:none; }

.event_flex_slider .flex-control-paging li a.flex-active{ background:rgba(255,255,255, 0.9); }



.event_new_crowdpouch{ width:100%; float:left; padding:15px; color:#FFF;   font-family: 'Montserrat';}

.event_new_crowdpouch h2{ width:100%; float:left; font-size:19.82px; line-height:28px; font-family: 'Montserrat Light'; text-transform:uppercase; 

margin: 0 0 7px; text-shadow: 2px 2px #378c97;}

.event_new_crowdpouch img{ width:100%; float:left; }

.event_new_crowdpouch h3{ width:100%; float:left; font-size:23px; line-height:18px;   font-weight:bold; text-shadow: 0 3px #378c97; }  

.event_new_crowdpouch h4{ width:100%; float:left; font-size:16px; line-height:22px;  font-weight:400; text-shadow: 0 3px #378c97; }

.event_new_crowdpouch p{ font-size:16px; line-height:19px;  font-weight:400; font-family: 'Montserrat'; }

.event_new_beach{ width:100%; float:left; }

.event_new_beach h2{ width:100%; float:left; font-size:20.48px; line-height:21.85px; font-family:Verdana; font-weight:bold; text-shadow: 0 3px #378c97;

 margin-top:15px;  }  

.event_new_beach h4{ width:100%; float:left; font-size:20.48px; font-family: 'Montserrat Light'; text-shadow: 0 3px #378c97; margin:0; font-weight:normal; }

.event_new_beach ul{ width:100%; float:left; display:inline-block; margin-top:40px; margin-bottom:15px; }

.event_new_beach li{ width:100%; float:left; list-style:none; font-size:16px; font-weight:400; text-shadow: 0 3px #378c97; }

.event_new_beach li img{ width:auto !important; float:left; margin: 4px 0 0 -17px;  }

.event_new_beach p{ font-size:16px; line-height:22px; font-family: 'Montserrat Light'; }

.event_new_beach a{ width:auto; float:left; background:#fa742c; text-align:center; color:#FFF; border-radius:50px; font-size:15px; line-height:24.59px; 

padding:9px 23px; margin-top:33px;  }

.event_new_beach a:hover{ background:#FFF; color:#fa742c; }

/***/

.event_new_map{ width:100%; float:left; background:url(../img/event-map-bg.jpg) repeat; padding:25px 15px 20px 15px; }

.event_new_map img{ width:100%; float:left; height:462px; }

.event_new_map_input{ left:30px; right:30px; background:rgba(127,132,149,0.7); padding:8px 10px 8px 25px ; position:absolute; bottom:20px;  }

.event_new_map_input h2{ width:100%; float:left; font-size:20px; color:#FFF; font-family: 'Montserrat'; font-weight:700; margin:0; } 

.event_new_map_input p{ font-size:14px; color:#FFF;	 font-family: 'Montserrat'; font-weight:400;margin:0; }

.event_new_map_input input{ max-width:175px; width:100%; float:right; border-radius:50px; background:rgba(225,226,231,0.7); padding:10px 15px; border:none; color:#000; } 

/***** event_page css end *********/

/*********** cookies_page css ****************/



.cookies_banner{ width:100%; float:left; text-align:center; color:#FFF; padding:100px 0px 50px 0px;  background:url(../img/cookies-bannerimg.jpg)  no-repeat; background-size:cover; }

.cookies_banner h2{ width:100%; float:left;font-size:33.98px; line-height:37.46px; margin-bottom:30px;  font-family: 'Montserrat';font-weight:700;}

.cookies_banner p{ font-size:12.01px; line-height:20px;  font-family: 'Montserrat'; font-weight:400; }

.cookies_contant{ width:100%; float:left; color:#4fb4b8; text-align:left; background:url(../img/cookies-bgtext.jpg) repeat; padding:50px 0px 30px 0px;  }  

.cookies_contant h2{ width:100%; float:left; font-size:22px; line-height:20px; margin:10px 0px 25px 0px; font-family: 'Montserrat';font-weight:700; text-transform:uppercase; } 

.cookies_contant p{font-size:12.01px; line-height:20px; margin-bottom:30px;  font-family: 'Montserrat'; font-weight:400;  }

.cookies_contant h3{ width:100%; float:left; font-size:15px; line-height:20px; margin:10px 0px 20px 0px; font-family: 'Montserrat';font-weight:700; text-transform:uppercase; }

.cookies_contant h4{ width:100%; float:left; font-size:15px; line-height:20px; margin:10px 0px 25px 0px; font-family: 'Montserrat';font-weight:700; } 

.cookies_contant ul{ width:auto; float:left; display:inline; margin:0; }

.cookies_contant li{ width:100%; float:left; display:inline; list-style:none; margin-bottom:15px; }

.cookies_contant ul li a{ width:100%; float:left; color:#4fb4b8; font-size:14px; text-decoration:none;font-family: 'Montserrat'; font-weight:300px; }

.cookies_contant ul li a:hover{ color:#000; }

.cookies_link{ width:100%;float:left; text-align:center;margin:20px 0px; }

.cookies_link span{  font-weight:700; }

.cookies_link a{ background:#35de14; color:#FFF; font-size:18px; line-height:20px; border-radius:50px; text-align:center;

 padding:25px 130px 28px 130px;  font-family: 'Montserrat'; font-weight:300;}

 .cookies_link a:hover{ background:#42a7b3; color:#FFF; }

/*********** cookies_page css end ****************/

/**** rulebook css **/



.rulebook{ width:100%; float:left; text-align:center; display:inline-block; color:#FFF; padding:65px 0px 55px 0px;  background:url(../img/cookies-bannerimg.jpg)  no-repeat; background-size:cover; color:#FFF;  }

.rulebook h2{ width:auto; float:none; display:inline-block; text-align:center; font-size:65px; line-height:55px; background:url(../img/rule-boderimg.jpg) repeat-x bottom center; padding:0px 115px 30px 115px ; font-family: 'MontserratBlack'; margin-bottom:20px; }

.rulebook p{ font-size:26px;  line-height:25px; text-shadow: 0 3px #378c97; text-transform:uppercase;font-family: 'Montserrat'; font-weight:700; }

.rulebook_contant{ width:100%; float:left; background:url(../img/cookies-bgtext.jpg) repeat; color:#4fb4b8; padding:68px 0px 70px 0px;  line-height:20px;}

.rulebook_contant h2{ width:100%; float:left; font-size:22px; margin-bottom:40px; text-transform:uppercase;font-family: 'Montserrat'; font-weight:700; }

.rulebook_contant h3{ width:100%; float:left; font-size:18px; text-transform:uppercase; font-family: 'Montserrat'; font-weight:700; margin: 0px 0px 6px 0px; }

.rulebook_contant p{ font-size:12px; margin-bottom:40px; }

.rulebook_mrg{ margin-top:70px; }



/**** rulebook css end **/



/**** prcing_page css  **/

.pricng_banner{ width:100%; float:left; background:url(../img/pricing-bannerimg.jpg) no-repeat; background-size:cover; background-position:100%; padding:120px 0px 100px 0px; display:inline-block; text-align:center; color:#FFF;}

.pricng_banner h2{ width:auto; float:none; display:inline-block; text-align:center; font-size:57.94px; line-height:47.71px; background:url(../img/pricing-borderimg.jpg) no-repeat bottom center; background-size:90%; padding:0px 0px 35px 0px; font-family: 'MontserratBlack'; margin-bottom:30px; }

.pricng_banner p{ font-size:24px; line-height:30px; text-shadow: 0 3px #378c97; font-family: 'Montserrat'; font-weight:700; }

.pricng_contant{ width:100%; float:left; background:url(../img/cookies-bgtext.jpg) repeat; padding:65px 0px 100px 0px;  line-height:20px; text-align:center; display:inline-block;}

.pricng_contant h2{ width:100%; float:left; text-align:center; font-size:30px; color:#525252; text-transform:uppercase;text-shadow: 0 3px #cecece; }

.pricng_contant h2 span{ color:#16acc0; font-size:40px;  font-family: 'MontserratSemiBold'; font-weight:700; }

.pricng_contant h2 span span{ width:auto;  font-size:20px; }

.pricng_contant a{ width:560px; float:none; text-align:center; display:inline-block; font-size:24.56px; line-height:36px;  color:#FFF;  background:#35de14; text-shadow: 0 3px #2ebf11; border-radius:50px; margin:25px 0px 20px 0px; padding:15px 0px 13px 0px;  font-family: 'MontserratSemiBold'; }

.pricng_contant a:hover{ background:#16acc0; color:#FFF; text-shadow: 0 3px #16acc0;   }

.pricng_contant p{ font-size:21.33px; line-height:35.55px; color:#525252; text-align:center; font-weight:300px; }

.pricng_about{ width:100%; float:left; background:url(../img/pricing-bg2.jpg) no-repeat; background-size:cover;

 padding:126px 0px 120px 0px; display:inline-block; text-align:center; }

.pricng_about a{ width:auto; float:none; text-align:center; display:inline-block; font-size:30.45px; line-height:20px;  background:#16acc0; border:1px solid #FFF;color:#FFF; text-shadow: 0 3px #1394a5; border-radius:50px; margin:0px 0px 35px 0px; padding:21px 30px 18px 30px; text-transform:uppercase;  font-family: 'MontserratSemiBold';}

.pricng_about a:hover{background:#647597; color:#FFF;  }

.pricng_about p{ font-size:17.2px;color:#FFF; line-height:28.67px; text-align:center; font-family: 'MontserratBlack'; }



/**** prcing_page css  end **/

/**** Campaign_editor css  **/
.campaign_box{ width:100%; margin-top:40px;}
.camp_pdng{ padding:0; margin:0; }  
.campaign_editor{ width:100%; float:left;  background:url(../img/c_left-img.jpg) repeat; padding:0px 0px 776px 0px; }
.campaign_editor h2{ width:100%; float:left; font-size:18.34px; line-height:20px; font-weight:300; font-family: 'Raleway', sans-serif; text-align:center; padding:15px 0px; color:#FFF; margin:0; text-transform:uppercase; height:72px; }
/*** campaign_tabs ***/
.campaign_tabs{ width:100%; float:left; padding:0px 15px 0px 15px; background:url(../img/c-tab-bg.jpg) repeat-y; background-size:100%; }
.campaign_tabs .nav-tabs{ border:none; }
.campaign_tabs .nav-tabs .faq_boder{ border-bottom:1px solid #709ebc; border-top:1px solid #709ebc; }
.campaign_tabs .nav-tabs .category_camp{ font-size:12.93px; line-height:10.99px; font-family: 'Montserrat'; font-weight:300; padding: 0 0 0 26px;
    width: 100%; text-transform:initial; margin-top:5px; float:left;  } 
.campaign_tabs .nav-tabs > li{ width:100%; float:left; border-radius:0; background:none; border:none ; }
.campaign_tabs .nav-tabs > li > a{ width:100%; float:left; font-size:24.36px; line-height:20.76px;  text-align:left; color:#a2c0d3; text-transform:uppercase; padding:28px 0px;  font-weight:400; font-family: 'Raleway', sans-serif; }
.campaign_tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ background:none; color:#FFF; border:none !important; }
/*** campaign_tabs ***/
.campaign_create{ width:100%; float:left; } 
.campaign_create h1{ width:100%; float:left; font-size:39.16px; color:#292929; line-height:8px; font-weight:700; font-family: 'Raleway', sans-serif; text-transform:uppercase; text-align:left; background:#f3f3f3; border-top:1px solid #efefef; border-bottom:1px solid #efefef; padding: 29px 0 18px 71px; margin:0; height:72px;} 
.camp_create_box{ width:100%; float:left; padding:30px 0px 0px 50px; font-family: 'Montserrat'; font-weight:300; line-height:17px;  color:#565656; }
.camp_create_box h2{ width:100%; float:left; font-size:20px; margin:0px 0px 12px 0px; }
.camp_create_box p{  font-size:11px; color:#aeaeae;  }
.camp_create_box h3{ width:100%; float:left; color:#c4c4c4; font-size:16px;  margin:25px 0px 30px 0px; padding: 0 0 0 19px; }
.camp_upload_img{ width:100%; float:left; display:inline-block; text-align:center; height:320px; margin-bottom:20px; padding: 0 20px 0 0; }
.camp_upload_img img{ width:auto; float:none; text-align:center; display:inline-block;  margin-top:110px; }
.camp_upload_img h4{ width:100%; float:left; text-align:center; color:#aeaeae; margin-top:15px; text-transform:uppercase; font-size:16px; font-weight:300; font-family: 'Montserrat';  }
.camp_create_box .form-group{ margin-top:15px; margin-bottom:10px; }
.camp_create_box .form-control{ box-shadow:none; border:none; font-size:16px; color:#aeaeae; font-family: 'Montserrat'; font-weight:300; }    
.camp_select{ width:auto; float:left; margin-top:17px;  }
.camp_select select{ padding:4px; border:none; }
.camp_flexi{ margin-top:20px;  padding: 0 0 0 30px; }
.camp_flexi img{ width:auto; float:none;   margin: 0 0 5px 22px; }
.camp_date{ width:100%; float:left; margin-top:25px; margin-bottom:40px; }
.camp_duration{ width:auto; float:left; margin-top:25px; margin-bottom:40px; }
.camp_link{ width:100%; float:left;  margin-bottom:35px; }
.camp_link a{ width:370px; float:left; background:#35de14; color:#FFF; font-size:26px; line-height:25px; border-radius:50px; text-align:center;
font-weight:600; font-family: 'Raleway', sans-serif; padding:16px 0px; }
.camp_link a:hover{ background:#42a7b3; color:#FFF; }
.camp_right{ width:100%; float:left; background:url(../img/blue.jpg) repeat; padding:35px 30px 25px 30px; color:#FFF;  font-family: 'Gadugi'; }
.camp_right img{ width:auto; float:left; padding:0px 20px 60px 0px; }
.camp_right h2{ margin:0px 0px 17px 0px; font-size:22px; line-height:17px;  font-family: 'Gadugi';  }
.camp_right h2 span{  font-family: 'Montserrat'; font-weight:400; font-size:10.87px;  }
.camp_right h2 span img{ width:auto; float:none; margin:0; padding:0px 5px 0px 0px; }
.camp_right p{font-size:15px; margin-bottom:15px;}
.camp_right ul{ display:inline;}
.camp_right li{  list-style:none; font-size:15px;  }
.camp_right li .fa-map-marker::before{  padding: 0 8px 0 0; }
.camp_right li .fa-tag::before{  margin: 0 4px 0 -1px; }
.camp_funded{ width:100%; float:left; background:url(../img/camp-funded-bg.jpg) repeat; background-size:100%; padding:27px 30px; }
.camp_funded ul{ width:100%; float:left; margin:0; display:inline-block; }
.camp_funded li{width:25%; float:left; list-style:none; color:#FFF; font-family:Arial, Helvetica, sans-serif; font-weight:700; font-size:15.67px; line-height:21.78px; 
text-align:left; }
.camp_funded li span{ width:100%; float:left; }
.camp_btn{ width:100%; float:left; }
.camp_btn .btn-default{ width:100%; float:left; background:#3a7e96; border-radius:50px; font-size:26px; line-height:20px; color:#FFF; margin-top:9px; font-family: 'Raleway', sans-serif; font-weight:600; text-transform:uppercase; border:none; padding:16px 0px 15px 0px; }   
.camp_btn .btn-default:hover{ background:#42a7b3; }  
.camp_mrg{ margin-top:40px; width:100%; float:left; }
.camp_mrg2{  margin-top:25px; }
.camp_add_png{ padding:0px 0px 0px 40px; }
.camp_review{ width:100%; float:left; padding:35px 0px 0px 60px; }  
.camp_review h2{ width:100%; float:left; font-size:20px; line-height:17px; color:#9d9d9d; margin:0px 0px 15px 0px; font-family: 'Montserrat'; font-weight:700;}  
.camp_review p{font-size:16px; line-height:17px; color:#aeaeae; font-family: 'Montserrat'; font-weight:300; }  
.camp_review h2 span{ padding:0px 0px 0px 100px; color:#ff8e00; }  
.camp_review h3{ width:100%; float:left; font-size:20px; line-height:17px; color:#565656; font-family: 'Montserrat'; font-weight:300; margin:0;}  
.camp_review img{ width:100%; float:left; margin:20px 0px 40px 0px;  padding: 0 90px 0 0; }
.camp_review_link{ width:100%; float:left; margin:40px 0px 0px 0px; }
.camp_review_link a{ width:370px; float:left; background:#39df12; color:#FFF; font-size:26px; line-height:25px; border-radius:50px; text-align:center;
font-weight:600; font-family: 'Raleway', sans-serif; padding:16px 0px; margin-bottom:25px; text-transform:uppercase; }
.camp_review_link a:hover{ background:#ff8e00; color:#FFF; }
.camp_select2{ width:100%; float:left; margin-top:17px;  padding:0px 95px 0px 0px; }
.camp_select2 select{ width:100%; padding:4px; border:none; }
.camp_create_box h2 img{ width:auto; float:none;  margin: -5px 0 0 60px; }
.camp_id{ width:100%; float:left; padding:15px 0px 20px 45px; font-family: 'Montserrat'; font-weight:300; line-height:17px;  color:#565656; }
.camp_id h2{ width:100%; float:left; font-size:20px; margin:0px 0px 6px 0px; }
.camp_id p{  font-size:11px; color:#aeaeae;  }


/**** Campaign_editor css  end **/


/**** eventsdetails css****/
.event_title h4{  position:absolute; top:35px; padding:21px 61px 21px 21px;  background:rgba(66,186,202, 0.7); font-size:41.57px; color:#FFF; line-height:48.14px; margin:0;  font-family: 'ralewayblack58a2e931b6326'; }
.event_title .color{ color:#FFF; }
.detail_event{ width:100%; float:left; }
.detail_event img{ width:100%; float:left; height:365px; margin-bottom:0; }
.detail_event .detail_right{ right:0;background:rgba(66,186,202, 0.7) }
.detail_box_who{ width:100%; float:left; background:#f2f2f2; height:365px;}
.detail_box_who h5{ width:100%; float:left; font-size:114.57px; line-height:48.69px; color:#fa742c; font-family: 'ralewayblack58a2e931b6326'; 
 text-align:center; margin-top:43px;  padding: 0 55px 0 0;}
.detail_box_who h5 span{ width:100%; float:left;font-family: 'Raleway', sans-serif; font-weight:300; margin-top:30px; font-size:32.43px; line-height:24.84px;  }
.detail_box_who .who1{ right:15px; position:absolute; top:35px; padding:21px 61px 21px 21px;  background:rgba(66,186,202, 0.7); font-size:41.57px; color:#FFF; line-height:48.14px; margin:0; text-align:center;  font-family: 'ralewayblack58a2e931b6326'; }
.detail_pdg1{ padding:0px 0px 0px 15px }
.detail_pdg2{ padding:0px 15px 0px 0px }
.detail_invite{ width:100%; float:left; font-size:76.96px; line-height:41.69px; color:#3fe61d; font-family: 'ralewayblack58a2e931b6326'; 
 text-align:center; margin-top:43px;  }
.detail_invite span{ width:100%; float:left;font-family: 'Raleway', sans-serif; font-weight:300; margin-top:24px; font-size:18.41px; line-height:21px;  } 
.detail_sent{ color:#42baca;  }
.detail_negative{ color:#9a9a9a; } 
.detail_map{ width:100%; float:left; }
.detail_map img{ width:100%; float:left; height:370px; }
.detail_map_text{  position:absolute; top:35px; padding:21px 61px 21px 21px;  background:rgba(66,186,202, 0.7); font-size:41.57px; color:#FFF; line-height:48.14px; margin:0;  font-family: 'ralewayblack58a2e931b6326'; }
.detail_beach{ width:100%; float:left; background:url(../img/deteai-bgl.jpg) repeat-y; background-size:100%;  height:370px; }
.detail_beach_pdng{ padding-left:40px; padding-bottom:25px; }
.detail_icon{ width:100%; float:left; }
.detail_icon h3{ font-size:16px; color:#FFF; text-transform:uppercase;  font-weight:800; margin-top:22px; }
.detail_icon ul{ width:100%; float:left; display:inline-block; margin:0; }
.detail_icon li{ width:30px; height:30px ; float:left; list-style:none; margin:0px 10px 0px 0px; }
.detail_icon ul li .a{ width:100%; height:100%; float:left; background:#FFF; text-align:center; color:#42a7b3; line-height:30px; font-size:16px; margin: 0;
    padding: 0; border-radius:0; }
.detail_icon ul li .a:hover{ background:#42a7b3; color:#FFF; }


/**** eventsdetails css end****/

/**newletter css**/
.newletter{ width:100%; float:left; display:inline-block; background:url(../img/blue.jpg) repeat; text-transform:uppercase; padding:65px 0px 55px 0px; color:#FFF; text-align:center; } 
.newletter h2{ width:auto; float:none; display:inline-block; font-size:65.02px; line-height:61.49px;  font-family: 'MontserratBlack'; background:url(../img/rule-boderimg.jpg) repeat-x bottom center;  margin: 0 0 25px; padding: 0 10px 30px; }  
.newletter p{ font-size:26.15px; line-height:25px;  font-family: 'Montserrat'; font-weight:700; margin:0;  text-shadow: 0 3px #26929f; }
.new_choose{ width:100%; float:left; background:#f0f0f0; padding:35px 0px 10px 0px;  }
.new_choose h2{ width:auto; float:left; color:#292929; line-height:35px; font-size:24px; margin:0px 0px 25px 0px; font-family: 'Raleway', sans-serif; font-weight:900; text-transform:uppercase; }
.new_choose a{ width:156px; float:left;  border-radius:50px; text-align:center; border:1px solid #FFF; font-size:16px; line-height:20px; color:#848484; text-transform:uppercase; font-family: 'Montserrat'; font-weight:400;  margin: 0 0 0 60px; padding:8px 0px; } 
.new_choose a:hover{ background:#33a8b8; color:#FFF; }
.new_box{ width:100%; float:left; background:#33a8b8; color:#FFF; line-height:28px; border-radius: 10px 10px 0 0; margin-bottom:30px; }
.new_box_padng{ padding:15px; }
.new_box h3{ width:100%; float:left; font-size:14px; line-height:18px; margin:0; font-family:Arial, Helvetica, sans-serif; font-weight:700;  }
.new_box h4{ width:100%; float:left; font-size:12px; line-height:18px; font-family:Arial, Helvetica, sans-serif; font-weight:400; margin:0px 0px 15px 0px; }
.new_box p{ font-size:9.64px; line-height:13.26px; text-align:left; }
.new_box img{ width:100%; float:left; height:284px; }
.new_box .form-group{width:100%; float:left; display:inline-block; text-align:center;  margin: -60px 0 0; }
.new_box .form-group .btn-default{ width:84%; float:none; display:inline-block; text-align:center; background:#fa742c; color:#FFF; border-radius:50px; border:none;font-family: 'Raleway', sans-serif; font-weight:700; font-size:14px; line-height:14px; padding:10px 0px; text-transform:uppercase; }
.new_box .form-group .btn-default:hover{ background:#33a8b8;  }

/**newletter css**/
/**** support css ****/
.support{ width:100%; float:left; color:#FFF; display:inline-block; text-align:center; background:url(../img/blue.jpg) repeat; padding:85px 0px 70px 0px;  }
.support p{ font-size:33.98px; line-height:37.46px; font-family: 'Montserrat'; font-weight:700;}
.support ul{ width:auto; float:none; display:inline-block; text-align:center; margin:30px 0px 0px 0px; }
.support li{ width:auto; float:left; list-style:none;  margin: 0 27px; }
.support ul li .btn-default{ width:100%; float:left; background:#4fb4b8; color:#FFF; border-radius:50px; border:none;font-family: 'Montserrat'; font-weight:600; font-size:16.68px; line-height:24.59px; padding:10px 55px; text-transform:uppercase; border:1px solid #FFF; }
.support ul li .btn-default:hover{ background:#35de14; border:1px solid #35de14; }
.support_question{ width:100%; float:left; background:url(../img/cookies-bgtext.jpg) repeat; padding:45px 0px 60px 0px; display:inline-block; text-align:center; }
.support_question .suprt_box{ max-width:406px; width:100%; float:none; display:inline-block; }
.support_question .suprt_box img{ width:auto; float:left;  }
.support_question .suprt_box h2{ width:100%; float:left; font-size:21.01px; color:#4fb4b8; font-family: 'Montserrat'; font-weight:700; text-align:left; 
margin:13px 0px 30px 0px; text-transform:uppercase;  }
.support_question .suprt_box p{ text-align:left; font-size:12px; line-height:20px; font-family: 'Montserrat'; font-weight:400; }
.support_question .col_width{ width:21%; padding:0; }
.support_question .col_width2{ width:79%; padding:0;}
.support_question .suprt_box ul{ width:100%; float:none; display:inline-block; text-align:center; margin:18px 0px 0px 0px; }
.support_question .suprt_box li{ width:auto; float:left; list-style:none;  margin:0px; }
.support_question .suprt_box .full_right{ float:right; }
.support_question .suprt_box .img_space1{ margin-top:10px; float:left; padding: 0 13px 0 15px; }
.support_question .suprt_box .img_space2{ margin-top:10px; float:none; display:inline-block; text-align:center; }
.support_question .suprt_box ul li .btn-default{ width:100%; float:left; background:#4fb4b8; color:#FFF; border-radius:50px; border:none;font-family: 'Montserrat'; font-weight:600; font-size:10.66px; line-height:24.59px; padding:0px 20px; text-transform:uppercase;  }
.support_question .suprt_box ul li .btn-default:hover{ background:#35de14;  text-shadow: 0 3px #29ab0f;}

.support_partiaiiy{ width:100%; float:left; background:#39e116; padding:60px 0px 55px 0px; color:#FFF; } 
.support_partiaiiy h2{ width:auto; float:left; margin:0; font-size:33.98px; font-weight:700; margin: 0 28px 0 0; }
.support_partiaiiy ul{ width:auto; float:left; margin: 6px 0 0; display:inline-block; }
.support_partiaiiy li{ width:auto; float:left; list-style:none; margin:0px 12px 0px 0px; }
.support_partiaiiy li a{ width:100%; float:left;  border-radius:50px; text-align:center; border:1px solid #FFF; font-size:13.44px; line-height:19px; text-transform:uppercase; font-family: 'Montserrat'; color:#FFF; font-weight:600;  margin:0px; padding:6px 31px; background:#bbbbbb;  text-shadow: 0 3px #a1a1a1; } 
.support_partiaiiy li a:hover{ background:#4fb4b8; border:1px solid #FFF; }

/**** support css end ****/
/**** job css ****/
.job_slide_link{ width:100%; position:absolute; top:0; background:rgba(101,158,171,0.7); border-bottom:2px solid #bfd5ca; }
.job_slide_link ul{ width:100%; display:inline-block; text-align:center; float:left; margin:0; padding:14px 0px 11px 0px; }
.job_slide_link li{ width:auto; float:none; list-style:none; display:inline-block; text-align:center; margin:0px 12px; }
.job_slide_link ul li a{ width:100%; float:left; text-align:center; color:#FFF; font-size:14px; line-height:14px; font-family: 'Raleway', sans-serif; font-weight:500; }
.job_slide_link ul li a:hover{ color:#000; 	} 
.job_pdg{ padding:0; } 
.job_new_map{ padding:20px; }
.job_new_map img{ height:384px; }
.job_input{ left:20px; right:20px; }
.job_a{ width:100% !important; font-size:16.68px !important; font-family: 'Montserrat'; font-weight:600; margin-top:65px !important; }
.job_new_crowdpouch{ padding:20px; }
/**** job css end ****/
/**** tutorials css ****/
.tutorials{ width:100%; float:left; color:#FFF; display:inline-block; text-align:center; 
background:url(../img/tutorals-bannerimg.png) no-repeat scroll 100% center / cover;
 padding:90px 0px 100px 0px;  }
.tutorials h2{ font-size:33.98px;  line-height:37.46px; margin: 0 0 18px; padding: 0 0 22px; font-family: 'Montserrat'; font-weight:700; background:url(../img/border.png) no-repeat center bottom; background-size:37%;}
.tutorials p{ font-size:18px; font-size:13.55px; font-family: 'Montserrat'; font-weight:700; color:#FFF;  }
.tutorials ul{ width:auto; float:none; display:inline-block; text-align:center; margin:40px 0px 0px 0px; }
.tutorials li{ width:auto; float:left; list-style:none;  margin: 0 27px; }
.tutorials ul li .btn-default{ width:100%; float:left; background:#4fb4b8; color:#FFF; border-radius:50px; border:none;font-family: 'Montserrat'; font-weight:600; font-size:16.68px; line-height:24.59px; padding:10px 55px; text-transform:uppercase; border:1px solid #FFF; }
.tutorials ul li .btn-default:hover{ background:#35de14; border:1px solid #35de14; }
.tutorials_main{ width:100%; float:left; display:inline-block; background:url(../img/grey.jpg) repeat; padding:50px 0px 80px 0px; text-align:center;  }
.tutorials_main img{ width:80%; float:left; }
.tutorials_main .img2{ width:54%; float:right; margin-top:6px; }
.tutorials_main .img4{ width:43%; float:right; margin-top:6px; }
.tutorials_main .img3{ width:95%; float:right; position:relative; }
.tutorials_main h2{ font-size:18.16px; line-height:16.51px; color:#4fb4b8;font-family: 'Montserrat'; font-weight:700; text-align:left; margin:13px 0px; }
.tutorials_main p{ font-size:9.91px; line-height:16.51px; color:#4fb4b8; font-family: 'Montserrat'; font-weight:400; text-align:left; margin-bottom:24px; }
.tutorials_main a{ width:auto; float:none; display:inline-block; position:relative; top:-15px;  text-align:center; border-radius:50px; padding:10px 28px 11px 28px;  text-align:center; font-family: 'Montserrat'; font-weight:600; font-size:13.36px; line-height:14.68px; color:#FFF; background:#fa742c; }
.tutorials_main a:hover{ background:#4fb4b8; color:#FFF; }
.tutorials_main .tutor_pdg{  padding:0; }
.tutorials_trending{ width:100%; float:left;  background:url(../img/tutor-bgimg.jpg) repeat; padding:35px 0px 45px 0px;  }
.tutorials_trending h1{ width:auto; float:left; color:#292929; line-height:35px; font-size:24px; margin:0px 0px 30px 0px; font-family: 'Raleway', sans-serif; font-weight:900; text-transform:uppercase; }
.tutorials_trending a{ width:156px; float:left;  border-radius:50px; text-align:center; border:1px solid #FFF; font-size:16px; line-height:20px; color:#FFF; text-transform:uppercase; font-family: 'Montserrat'; font-weight:400;  margin: 0 0 0 60px; padding:8px 0px; } 
.tutorials_trending a:hover{ background:#33a8b8; color:#FFF; }
.tutorials_box{ width:100%; float:left; background:#ffffff; border-radius:6px; }
.tutorials_box img{ width:100%; float:left;  }
.tutorials_box .pading{ padding:15px; width:100%; float:left; }
.tutorials_box h2{ width:100%; float:left; font-size:13.01px; color:#292929; line-height:15px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:0; }
.tutorials_box h3{ width:100%; float:left; font-size:12.01px; color:#292929; line-height:28px; font-family:Arial, Helvetica, sans-serif; font-weight:400; margin:0; }
.tutorials_box p{ font-size:12.01px; line-height:17.02px; color:#292929;  }
.tutorials_box span{ width:auto; float:none; color:#00b522; font-size:10.88px; line-height:15.1px; margin-left:7px;  }
.tutorials_box .offline{ width:auto; float:none; color:#7b7b7b; font-size:10.88px; line-height:15.1px; margin-left:7px;  }
.tutorials_box .tu_icon1{ width:auto; float:none; }
.tutorials_box .tu_icon2{ width:auto; float:right; }

/**** tutorials css end ****/



.partnership_box .partnership_img2{ width:100%; border-radius: 6px 6px 0px 0px; }
#explorebtn{ width:100%; float:left; }
footer{ float:left; }
#myCarousel .carousel-caption{ left:18% !important; right:18% !important; }



@media(max-width:1200px)

{
.event_title h2{ font-size:17.06px; line-height:17.14px; }

.event_title h3{ max-width: 140px; font-size:80px; padding: 20px 0 7px 5px; }

.event_title .category_1{ font-size:36px; line-height:40px; }

.event_title .category_2{ font-size:21px; right:6px; }	

.event_title img{ height:225px; }

.event_new_box img{ width:25%; }

.event_new_box h2{ margin:0; }

.event_new_box p{ line-height:16px; }

.event_new_box h3{ margin:10px 0px; }

.event_new .nav-tabs > li > a{ font-size:17px; }

.event_new_beach h2{ font-size:15px; }

.event_new_beach h4{ font-size:15px; margin:0 !important; }

.event_new_beach li{ font-size:13px; }

.event_new_beach ul{ margin-top:15px; }

.event_new_crowdpouch h3{ font-size:15px; margin: 10px 0 0; }

.event_new_crowdpouch h4{ font-size:14px; margin:5px 0px; }

.event_new_crowdpouch p{ font-size:13px; line-height:18px; }  	

.event_new_beach a{ font-size: 12px; line-height: 24.59px;  margin-top: 18px; padding: 7px 17px; }

.event_new_map img{ height:auto; }

.event_new_map_input h2{ font-size:17px; margin-bottom:5px; }

.event_new_map_input p{font-size:14px; }

.event_new_map_input input{ padding: 8px 15px; margin-top: 7px; }

/*************/

.cookies_banner{ padding: 70px 0px 50px 0px; }

.cookies_contant .br{ display:none; }

.cookies_link a{ padding: 20px 100px 20px 100px; }

.cookies_contant p{ margin-bottom:20px; }
/*****/
.campaign_editor h2{ height:65px; padding:13px 0px; font-size:16px; }
.campaign_create h1{ font-size:29px; height:65px; }
.camp_right h2{ font-size:18px;  margin: 0; }  
.camp_right img{ padding: 0 20px 5px 0; }
.camp_right p{ font-size:14px; margin-bottom:5px; }
.camp_funded li{ font-size:12px; }
.camp_btn .btn-default{ font-size:23px; }
.campaign_box{ margin-top:10px; }
/******/
.detail_event img{ height:310px !important; }
.detail_box_who{  height:310px; }
.detail_box_who h5{ font-size: 100.57px; padding: 0 20px 0 0; }
.event_title h4{ font-size: 30.57px; line-height:22px; padding: 21px 42px 21px 21px; }
.detail_box_who .who1{ font-size: 30.57px; line-height:22px; padding: 21px 42px 21px 21px;  }
.detail_box_who h5 span{ font-size: 24.43px; line-height: 17.84px; margin-top: 25px; } 
.detail_invite{ font-size:42px; line-height:30px; }  
.detail_invite span{ line-height: 17px; font-size:15px; margin-top: 10px; } 
.detail_map img{  height:310px; }
.detail_beach{ height:310px; }
.detail_map_text{ font-size: 30.57px; line-height:22px; padding: 21px 42px 21px 21px; }
/****/
.new_box p .br{ display:none; }
.new_box h3{  margin: 0 0 5px; }
.new_box img{ height:240px; }
/*****/
.support{ padding: 40px 0 35px; }
.support p{ font-size:26px; line-height:28px; }
.partners #myCarousel .carousel-caption { padding-bottom:60px !important; }
.maintitle{ font-size:26px !important;  }
.job_a{  font-size: 12.68px !important; margin-top: 40px !important; }
.job_new_map img{  height: 100%; }
.job_new_crowdpouch{ height:350px;  }
.job_new_map{ height:355px; }

/*****/
.tutorials{ padding: 60px 0 70px; }
.tutorials h2{ font-size: 25.98px; line-height: 27.46px; margin: 0 0 14px; }
.tutorials ul{ margin: 30px 0 0;}
.tutorials ul li .btn-default{  font-size: 14.68px; line-height: 19.59px; padding: 10px 40px; }  
.tutorials_main h2{ font-size:14px; }  
.tutorials_main p .br{ display:none; }
.tutorials_main .img3{ width:100%; }
.tutorials_box h2{ font-size:11px; }
.tutorials_box p{ font-size:11px; }
.tutorials_trending{  padding: 30px 0 35px; }

}
@media(max-width:992px){

.event_title h2{  padding: 15px 20px 11px; font-size:13px; }	

.event_title img{ height:200px; }

.event_title h3{ max-width:115px;  padding: 10px 0 7px 5px; font-size:60px; }

.event_title .category_1{ font-size:33px; line-height:21px; }

.event_title .category_2{ font-size:17px; }

.event_new .nav-tabs > li > a{ font-size:14px; }

.event_new .nav-tabs > li{ margin: 0 20px -1px 0; }

.event_new_box h2{ font-size: 13px; }

.event_new_box h3{ font-size:12px; }

.event_new_box{ padding:20px; line-height:16px; }

.event_new_crowdpouch h2{ font-size:17px; }

.event_new_beach h2{ font-size:11px; margin-top:0; margin-bottom:0; }

.event_new_beach li{ font-size:12px; }

.event_new_beach a{  font-size: 9px; line-height: 13.59px; margin-top: 6px; padding: 7px 8px; }

.event_new_beach ul{  margin-bottom: 10px; }

.event_new_crowdpouch p{ font-size:11px; }

.event_new_crowdpouch h3{ text-shadow: 0 2px #378c97; }

.event_new_crowdpouch h4{ font-size:12px; }

.event_flex_slider .flex-control-nav{ padding: 0 29px 5px 0; }

.event_new_map_input{ padding: 8px 10px 8px 15px; }

.event_new_map_input h2{ font-size:14px; }

.event_new_map_input p{ font-size:11px; }

.event_new_map_input input{ font-size: 10px; margin-top: 7px; padding: 8px 10px; }



/******/

.cookies_banner{ padding: 30px 0px 40px 0px; }

.cookies_banner h2{ margin-bottom:20px;}

.cookies_contant{ padding: 30px 0px 25px 0px; }

.cookies_contant h4{ margin: 0px 0px 10px 0px; }

.cookies_contant li{ margin-bottom:10px; }

.cookies_contant h2{ margin: 10px 0px 15px 0px; font-size:20px; }

.cookies_link a{ font-size:15px; padding: 20px 80px 20px 80px; }

/**********/

.rulebook h2{ padding: 0px 70px 20px 70px; font-size:45px; }

.rulebook p{ font-size:20px; line-height:22px; }

.rulebook{ padding: 40px 0px 45px 0px; }

.rulebook_contant{ padding:40px 0px; }

.rulebook_contant h2{ font-size:19px; margin-bottom:30px; }

.rulebook_contant h3{ font-size:15px; }

.rulebook_contant p{ margin-bottom:25px; }

.rulebook_mrg{ margin-top:40px; }  

/*****/

.pricng_banner{ padding: 80px 0px 70px 0px; } 

.pricng_banner h2{ font-size:40px; background-size:85%; line-height:20px; margin-bottom: 15px;}

.pricng_banner p{ font-size: 18px; line-height: 22px; text-shadow: 0 2px #378c97; }

.pricng_contant{ padding: 30px 0px 50px 0px; }

.pricng_contant h2{ font-size:26px; }

.pricng_contant h2 span{ font-size:35px;}

.pricng_contant span{ font-size:15px; }

.pricng_contant a{ width:460px; font-size:22px;line-height: 29px; margin: 15px 0px 15px 0px; }

.pricng_contant p{ font-size:20px; line-height:27px; }

.pricng_about{ padding: 80px 0px 80px 0px; }

.pricng_about a{ font-size:25px; padding: 18px 30px 15px 30px; margin: 0px 0px 15px 0px; }

.pricng_about p{ line-height:22px; }
/*****/
.campaign_editor{  padding: 0 0 683px; }
.campaign_editor h2{ font-size: 14px; height: 55px; line-height: 17px; padding: 12px 0; }
.campaign_tabs .nav-tabs > li > a{ font-size:18px; padding:12px 0px; }
.campaign_tabs .nav-tabs .category_camp{ font-size:11px; padding: 0 0 0 19px; }
.campaign_create h1{ font-size:25px; height:55px;padding: 25px 0 30px 50px; }
.camp_create_box{ padding: 20px 0 0 30px; }
.camp_create_box h2{  font-size: 15px;  margin: 0 0 6px; }
.camp_create_box h3{  margin: 15px 0 20px; font-size:13px; }
.camp_upload_img{ height:220px; }
.camp_upload_img img{ margin-top:82px; }
.camp_date{ margin-bottom: 25px; margin-top: 15px; }
.camp_duration{ margin-bottom: 25px; margin-top: 15px; }
.camp_link a{ font-size: 22px; padding: 10px 0; width: 290px; }
.camp_date_width{ width:33.33%; }
.camp_right li{ font-size:11px; }
.camp_right h2{ line-height: 13px; }
.camp_right p{ font-size:11px; }
.camp_right{ padding: 25px 20px 20px;  }
.camp_right img{ padding: 0 8px 0 0; }
.camp_funded{ padding: 10px 20px; }
.camp_funded li{ width:50%; font-size:13px; }
.camp_btn .btn-default{ padding: 12px 0 ; font-size:18px; }
.camp_review{  padding: 20px 0 0 30px; }
.camp_review h2{ font-size:16px; margin: 0 0 8px;   }
.camp_review p{ font-size:13px; }
.camp_mrg{ margin-top:25px; }
.camp_review h3{ font-size:16px; }
.camp_review img{ margin: 15px 0 25px; }
.camp_review_link a{ font-size: 19px; margin-bottom: 13px; padding: 12px 0; width: 280px; }
/*****/
.detail_event img{ height:250px !important; }
.detail_box_who{  height:250px; }
.detail_box_who h5{ font-size:70px; padding: 0 10px 0 0; margin-top:27px; }
.detail_invite{ margin-top:20px; }
.detail_beach_pdng{ padding-left: 20px; }
.font_size{ font-size:14px !important; margin:0 !important; } 
.font_size2{ font-size:11px !important; margin:0 !important; } 
.font_size3{ line-height:14px !important; } 
.event_width .br{ display:none; }
.detail_map img{  height:280px; }
.detail_beach{ height:280px; }
/****/
.newletter h2{ font-size:45px; line-height:35px; margin: 0 0 15px; padding: 0 10px 25px; }
.newletter p{ font-size:22px; }
.new_box img{ height:auto; }
.new_box .form-group .btn-default{ padding:8px 0px; } 
.new_choose{ padding: 20px 0 10px; }
.new_box h4{  margin: 0 0 2px; }
/***/
.support_partiaiiy h2{ font-size:22px; margin: 0 18px 0 0;}
.support_partiaiiy{  padding: 35px 0; }
/****/
.job_slide_link li{ margin: 0 4px; }
.partners #myCarousel .carousel-caption { padding-bottom:100px !important; }
.job_new_crowdpouch{ height:320px;  }
.job_new_map{ height:325px; }
/*****/
.tutorials_main .img2{ width:40%; }
.tutorials_main h2{ margin: 7px 0 10px; }
.tutorials_main .img4{ width:27%; }
.tutorials_main p{ margin-bottom:10px; }
.tutorials_main a{ font-size: 11.36px; padding: 7px 25px; }
.tutorials_main{ padding: 25px 0 20px; }
.tutorials_trending h1{ font-size:20px;  margin: 0 0 15px; }
.tutorials_box h2{ font-size:13px; }
.tutorials_trending a{ width: 140px; font-size:13px; padding: 6px 0; }
} 

@media(max-width:767px){

.event_title img{ height:auto; }

.event_new_box h2{ font-size:17px; margin-bottom:7px; }

.event_new_beach h2{ font-size:15px; }

.event_new_beach h4{ font-size:15px; margin:0 !important; }

.event_new_beach li{ font-size:13px; }

.event_new_beach ul{ margin-top:15px; }

.event_new_crowdpouch{ margin-top:15px; }

.event_new_crowdpouch h3{ font-size:15px; margin: 10px 0 0; }

.event_new_crowdpouch h4{ font-size:14px; margin:5px 0px; }

.event_new_crowdpouch p{ font-size:13px; line-height:18px; }  	

.event_new_beach a{ font-size: 12px; line-height: 24.59px;  margin-top: 18px; padding: 7px 17px; }

.event_new_map img{ height:auto; }

.event_new_map_input h2{ font-size:17px; margin-bottom:5px; }

.event_new_map_input p{font-size:14px; }

.event_new_map_input input{ padding: 8px 15px; margin-top: 7px; }

.event_flex_slider .flex-control-nav{ padding: 0 29px 15px 0; }

.event_title img{ margin-bottom:20px; }

/******/

#explorebtn{ width:100%; float:left; } 

.cookies_banner{ padding: 15px 0px 30px 0px; }

.cookies_banner h2{ font-size:27px; margin-bottom:10px; line-height:25px; } 

.cookies_contant{  padding: 15px 0px 25px 0px;  }

.cookies_contant h2{ margin: 15px 0px 10px 0px; font-size: 17px; }

.cookies_contant p{ margin-bottom:10px; }

/****/

.rulebook p{ font-size: 17px; line-height: 18px; }

.rulebook .br{ display:none; }

.rulebook h2{ padding: 0px 28px 5px 28px; font-size:30px; margin-bottom:10px; }

.rulebook{ padding: 20px 0px 35px 0px; }

.rulebook_contant{ padding: 10px 0px; }

.rulebook_contant h2{ margin-bottom:20px; }

.rulebook_contant h3{ font-size:13px; }

.rulebook_mrg{ margin-top:20px; }  

.rulebook_contant .br{ display:none; } 

/*****/

.pricng_banner{ padding: 40px 0px 50px 0px; } 

.pricng_banner h2{ font-size:35px; margin-bottom: 10px; padding: 0px 0px 30px 0px;}

.pricng_banner p{ font-size: 16px; line-height: 22px; }

.pricng_contant{ padding: 20px 0px 30px 0px; }

.pricng_contant h2{ font-size:23px; }

.pricng_contant h2 span{ font-size:30px;}

.pricng_contant span{ font-size:13px; }

.pricng_contant a{ width:400px; font-size:20px;line-height: 25px; }

.pricng_contant p{ font-size:18px; line-height:25px; }

.pricng_about{ padding: 40px 0px 35px 0px; }

.pricng_about a{ font-size:22px; padding: 18px 30px 15px 30px;  }

.pricng_about p{ line-height:22px; }

/****/
.campaign_editor h2{ height:auto; font-size:20px; line-height:24px; }
.camp_pdng{ padding: 0 15px;  }
.campaign_editor{ padding:0; }
.campaign_tabs{ padding: 10px 15px; }
.camp_funded li{ width:25%; }
.camp_btn{  padding: 20px 0 25px; }
.camp_link{ text-align:center; display:inline-block; }
.camp_link a{ float:none; display:inline-block; text-align:center; }
.camp_create_box{  padding: 20px 0 0; }
.campaign_tabs .nav-tabs .category_camp{ font-size:12px; }
.campaign_create h1{ height:auto; }
.camp_funded li{ font-size:16px; }
.camp_review{ padding: 20px 0 0; }
.camp_review img{ padding:0; }        
.campaign_box{ margin:0; }
.camp_upload_img h4{ margin-top:6px; font-size:12px; }
.camp_link{ margin-bottom: 25px; }  
.camp_review_link { display:inline-block; text-align:center; }
.camp_review_link a{ display:inline-block; text-align:center; float:none; margin: 0 11px 15px; }
.camp_right p{ font-size:13px; }
.camp_right li{ font-size:13px; }
.camp_select2{ width:100%; }
.camp_right img{ padding: 0 10px 19px 0; }

/******/
.detail_pdg1{  padding:0px 15px; }
.detail_event .detail_right{ right: 15px; }
.detail_pdg2{ padding:0px 15px;  }   
.detail_map img{ margin-top:15px; height:auto; }
.detail_box_who{ height:auto; padding-bottom: 20px; }
.detail_beach{ padding:25px 0px; height:auto; }
.detail_row{ margin:0; }
.font_size1{ font-size:16px !important; } 
.font_size2{ font-size:13px !important; } 
.detail_beach{ padding: 10px 0 0; }
/****/
.newletter{  padding: 45px 0 40px; }
.newletter h2{ font-size: 36px; line-height: 29px; margin: 0 0 10px; padding: 0 10px 20px; }
.newletter p{ font-size:19px; line-height: 20px; }
.new_box img{ height:200px; }
/****/
.support p .br{ display:none; }
.support p{ font-size:20px; }
.support ul li .btn-default{  padding: 8px 24px; font-size:14px; }
.support li{ margin: 0 15px; }
.support ul{ margin: 20px 0 0; }
.support{ padding: 25px 0 30px; }
.support_partiaiiy ul{  margin: 12px 0 0; }
.support_partiaiiy{ padding:25px 0px; }
.support p{ font-size:16px; line-height: 20px; }
/****/
.partners #myCarousel .carousel-indicators{ bottom:0px !important;}
.maintitle{ font-size: 14px !important; }
.partners #myCarousel .carousel-caption{ padding-bottom:40px !important ; }
.job_new_crowdpouch{ height:auto;  padding:0px 15px 10px 15px;  }
.job_new_map{ height:auto; padding:20px 15px; }
.job_input{ left: 15px; right: 15px; }
.job_a{ margin-bottom:25px ; margin-top:20px !important;}
/****/
.tutorials{ padding: 50px 0 55px; }
.tutorials li{ margin: 0 10px; }
.tutorials_main img{ width:60%; }
.tutorials_main p{ margin-bottom: 15px; }
.tutorials_main .container .row .col-xs-12{ margin-bottom:15px; }
.tutorials_box{ margin-bottom:15px; }
.tutorials_trending{ padding: 25px 0 15px; }
}

@media(max-width:620px){



.event_new_map_input{ padding: 8px 10px 8px 15px; }

.event_new_map_input h2{ font-size:13px; }

.event_new_map_input p{ font-size:12px; }

.event_new_map_input input{ font-size: 12px; margin-top: 7px; padding: 8px 10px; }

.event_new{ margin-bottom: 20px; }

.event_new_beach a{ font-size: 10px; line-height: 13.59px; margin-top: 12px; padding: 8px 10px; }

/*****/

.cookies_banner h2{ font-size:25px; }

.cookies_link a{ font-size: 15px; padding: 15px 30px 15px 30px; }

.cookies_contant h3{ font-size:14px; margin: 10px 0px 10px 0px; }

.cookies_contant h4{ font-size:13px; line-height:14px; }

/***/

.rulebook{ padding:10px 0px 20px 0px; } 

.rulebook h2{ padding: 0px 20px 15px 20px; font-size: 25px; margin-bottom:8px; line-height:25px; }

.rulebook p{ font-size:14px; }

.rulebook_contant h2{ margin-bottom:10px; font-size:17px; margin-top:10px; }

.rulebook_contant p{ margin-bottom:20px;}

.rulebook_mrg{ margin-top:0px; margin-bottom:10px; } 

/*****/

.pricng_banner{ padding: 30px 0px 40px 0px; } 

.pricng_banner h2{ font-size:30px; margin-bottom:7px; padding: 0px 0px 20px 0px;}

.pricng_banner .br{ display: none; }

.pricng_contant{ padding: 15px 0px 20px 0px; }

.pricng_contant h2{ font-size:18px; }

.pricng_contant h2 span{ font-size:24px;}

.pricng_contant span{ font-size:10px; }

.pricng_contant a{ width:350px; font-size:17px; margin: 5px 0px 10px 0px; }

.pricng_contant p{ font-size:14px; line-height:20px; }

.pricng_contant .br{ display:none; }

.pricng_about{ padding: 30px 0px 20xpx 0px; }

.pricng_about a{ font-size:18px; padding: 18px 30px 15px 30px;  }

.pricng_about p{ font-size:14px; line-height:22px; }

.pricng_about .br{ display:none; }
/****/
.campaign_editor h2{ font-size:17px; line-height: 20px; }
.campaign_create h1{  padding: 20px 0; font-size:18px; text-align:center; }
.camp_duration{ margin-bottom: 15px; }
.camp_date_width{ width:33.33%; }
.camp_id{ padding:0; }
/***/
.newletter{ padding: 25px 0; }
.newletter h2{ font-size: 28px; line-height: 26px; margin: 0 0 5px; padding: 0 10px 13px; }
.newletter p .br{ display:none; } 
.newletter p{ font-size:17px; line-height:17px; }
.new_choose h2{ font-size:18px; margin: 0 0 10px; }
.new_choose a{  width: 138px; margin: 0 0 0 16px; font-size: 14px; }
/****/
.support li{ margin: 0 5px; }
.support ul li .btn-default{ font-size: 12px; padding: 8px 24px; }
.support_question .suprt_box h2{ font-size:17px; }
.support_question{ padding: 20px 0 30px; }
.support_row{ margin:0; }
.support_question .suprt_box h2{  margin: 13px 0 10px; }
/***/
.tutorials h2{ font-size:20px;  line-height: 21.46px; padding: 0 0 10px; margin: 0 0 8px; background-size:50%; }
.tutorials h2 .br{ display:none; }
.tutorials ul li .btn-default{ font-size: 11.68px; line-height: 15.59px; padding: 10px 19px; }
.tutorials ul{ margin: 15px 0 0; }
.tutorials{ padding: 40px 0 35px; }
.tutorials_main{ padding: 25px 0 0; }
.tutorials_trending h1{ font-size:17px; }
}
@media(max-width:520px){
.detail_event img{ height:auto !important; }
.event_title h4{ font-size: 15.57px;  line-height: 14px;  padding: 12px 30px 13px 16px; }
.detail_box_who .who1{ font-size: 15.57px;  line-height: 14px;  padding: 12px 30px 13px 16px; }
.detail_map_text{ font-size: 15.57px;  line-height: 14px;  padding: 12px 30px 13px 16px; }
.detail_box_who h5{ font-size:50px; }
.detail_box_who h5 span{ font-size: 19.43px; line-height: 15.84px;  margin-top: 9px; }
.detail_invite{ margin-top:15px; font-size: 30px; line-height: 20px; }
.detail_invite span { font-size: 12px; line-height: 13px; margin-top: 10px; }
/****/
.job_slide_link ul{ padding:4px 0px; }
.job_slide_link ul li a{ font-size:13px; }
.carousel-inner .item img{ height:200px; }
.maintitle{ font-size:14px !important; }
.tutorials_main .img2{  width: 54%; }
.tutorials_main .img4{  width: 43%; }

	}
@media(max-width:420px){

	

.event_title h2{ font-size: 11px; padding: 8px 12px; bottom: 45px; }	

.event_title h3{ font-size: 45px; max-width: 100px; padding: 10px 0 7px 5px; line-height:40px; }

.event_title .category_1{ font-size:22px; }

.event_title .category_2{  font-size: 13px; font-size: 13px; }

.event_title img{ margin-bottom: 15px; }

.event_new .nav-tabs > li > a{ font-size:13px; }

.event_new .nav-tabs > li{ margin: 0 13px -1px 0; }

.event_new_box h2{ font-size: 14px; }

.event_new_box h3{ font-size:12px; }  

.event_new_box{ padding:15px; }

.event_new_box li{ width:25px; height:25px;  }

.event_new_box ul li a{ font-size:14px; line-height:26px;  }

.event_new_box img{  margin: 0 10px 0 0; }

.event_width{ width:100%; }

.event_new_crowdpouch h2{ font-size:16px; }

.event_new_beach li img{ margin: 4px 7px 15px 0; }

.event_new_map_input input{ float:left;  padding: 3px 10px; }

/*****/

.cookies_banner h2{ font-size:18px; }

.cookies_banner .br{ display:none; }

.cookies_contant h2{ margin: 5px 0px 10px 0px; }

.cookies_link a{ width:100%; float:left; font-size:13px; }

.cookies_link{ margin: 10px 0px 0px 0px; } 

/****/

.pricng_banner{ padding:15px 0px 25px 0px; } 

.pricng_banner h2{ font-size:25px; margin-bottom:5px; padding: 0px 0px 15px 0px; margin-top:10px; }

.pricng_banner p{ font-size:13px; }

.pricng_contant{ padding: 15px 0px 20px 0px; }

.pricng_contant h2{ font-size:16px; margin-top:10px; }

.pricng_contant h2 span{ font-size:22px;}

.pricng_contant span{ font-size:9px; }

.pricng_contant a{ width:100%; font-size:16px; padding: 11px 0px 10px 0px; }

.pricng_contant p{ font-size:13px; line-height:20px; }

.pricng_about{ padding: 25px 0px 20px 0px; }

.pricng_about a{ font-size:16px; padding: 14px 20px 13px 20px;  }

.pricng_about p{ font-size:14px; }
/***/
.camp_date_width{ width:100%; }
.camp_funded li{ font-size:12px; }
.camp_right p{ font-size:12px; }
.camp_right li{ font-size:12px; }
.camp_right{ padding: 15px; }
.detail_beach{ padding: 10px 0; }
/****/
.new_box img{ height:auto; }
.new_box{ margin-bottom: 15px; }
.new_width{ width:100%; }
.new_choose h2{ margin: 0 0 5px; }
.new_choose a{ font-size: 14px; margin: 0 0 10px; }
/****/
.support p{ font-size:14px; line-height: 18px; }
.support li{ margin: 0 0 10px; width: 100%; }
.support{ padding: 20px 0 15px; }
.support_question .suprt_box .img_space1{ width:60px; }
.support_question .suprt_box h2{ font-size: 13px; }
.support_question .suprt_box p{ font-size: 11px; font-size: 11px; } 
.support_question .suprt_box ul li .btn-default{ padding: 0 13px; font-size:10px; }
.support_partiaiiy h2{ font-size:17px; }
.support_partiaiiy li{ margin: 0 6px 0 0; }
.support_partiaiiy li a{ font-size:12px; line-height:14px; padding: 6px 20px; }
.maintitle{ font-size:12px !important; }
.space20{ font-size:11px !important; margin-top:7px !important; }
/***/
.tutorials{ padding: 25px 0 20px; }
.tutorials h2{ font-size:19px; }
.tutorials p{ font-size:11px; }
.tutorials li{ width:100% !important; margin: 0px 0px 10px 0px !important; }
.tutorials_main img{ width:75%; }
.tutorials_trending h1{ font-size:14px; }
.tutorials_trending a{ font-size: 11px;  padding: 5px 0; width: 120px;  margin: 0 0 0 22px; }
.tutorials_trending{ padding: 20px 0 15px; }
.tutorials_box h2{ font-size: 12px; }
/***/
	}