<div class="col-md-6 profile_edit">
  <article>
    <div class="head-info">
      <h6>email & password</h6>
      <div class="edit-info">
        <i *ngIf="!edited" (click)="editEmailPassword()" class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <button *ngIf="edited" (click)="saveEmailPassword()" class="save-button">Save</button>
      </div>
    </div>
    <div *ngIf="!edited">
      <h2>{{user?.email}}</h2>
      <p>First email address</p>
      <h2 *ngIf="user?.secondary_email">{{user?.secondary_email}}</h2>
      <h2 *ngIf="!user?.secondary_email">Not Present</h2>
      <p>Security email address</p>
      <h4>***************</h4>
      <p>Password</p>
    </div>
    <div *ngIf="edited">
      <form [formGroup]="emailPasswordForm">
        <input formControlName="email" type="email">
        <p>First email address</p>
        <input formControlName="secondary_email" type="email">
        <p>Security email address</p>
        <input type="password">
        <p>Password</p>
      </form>
    </div>
  </article>
</div>
