<div class="partners">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active"> <img src="assets/img/job-sliderimg.jpg" class="img-responsive center-block" width="100%" alt="img">
        <div class="carousel-caption">
          <h1 class="maintitle">FIND YOUR NEXT DREAM JOB</h1>
          <p class="space20">JOIN US AND LOREM IPSUM ALL THE WAY</p>
        </div>
      </div>
      <div class="item"> <img src="assets/img/job-sliderimg.jpg" class="img-responsive center-block" width="100%" alt="img">
        <div class="carousel-caption">
          <h1 class="maintitle">FIND YOUR NEXT DREAM JOB</h1>
          <p>JOIN US AND LOREM IPSUM ALL THE WAY</p>
        </div>
      </div>
      <div class="item"> <img src="assets/img/job-sliderimg.jpg" class="img-responsive center-block" width="100%" alt="img">
        <div class="carousel-caption">
          <h1 class="maintitle">FIND YOUR NEXT DREAM JOB</h1>
          <p>JOIN US AND LOREM IPSUM ALL THE WAY</p>
        </div>
      </div>
      <div class="item"> <img src="assets/img/job-sliderimg.jpg" class="img-responsive center-block" width="100%" alt="img">
        <div class="carousel-caption">
          <h1 class="maintitle">FIND YOUR NEXT DREAM JOB</h1>
          <p>JOIN US AND LOREM IPSUM ALL THE WAY</p>
        </div>
      </div>
    </div>
    <!-- job_slide_link ---->
    <div class="job_slide_link">
      <div class="container">
        <ul>
          <li><a href="#">Company</a></li>
          <li><a href="#">Executive Team</a></li>
          <li><a href="#">Partners Lorem</a></li>
          <li><a href="#">Ipsum</a></li>
          <li><a href="#">Company </a></li>
          <li><a href="#">Executive Team </a></li>
          <li><a href="#">Partners Lorem</a></li>
          <li><a href="#">Ipsum</a></li>
        </ul>
      </div>
    </div>
    <!-- job_slide_link end----> 
  </div>
</div>

<div class="col-xs-12 col-sm-6 job_pdg"> 
  <div class="event_flex_slider">
    <div class="flexslider">
      <ul class="slides">
        <li>
          <div class="event_new_crowdpouch job_new_crowdpouch">
            <div class="row">
              <div class="col-xs-8 event_width"> <img class="img-responsive" src="assets/img/job-slide-img2.jpg" alt="img">
                <h3>Project Manager</h3>
                <h4>by Crowdpouch</h4>
                <p>We are searching for experienced <br class="br"/>
                  product reviewer who can make a<br class="br"/>
                  nice presentation of our product. </p>
              </div>
              <div class="col-xs-4 event_width">
                <div class="event_new_beach">
                  <h2>Full -Time </h2>
                  <h4>On Site</h4>
                  <ul>
                    <li><img src="assets/img/loction-icon.png" alt="img"> New York,<br class="br"/>
                    </li>
                    <li>United States of America</li>
                  </ul>
                  <a class="job_a" href="#">APPLY NOW</a> </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="event_new_crowdpouch job_new_crowdpouch">
            <div class="row">
              <div class="col-xs-8 event_width"> <img class="img-responsive" src="assets/img/job-slide-img2.jpg" alt="img">
                <h3>Project Manager</h3>
                <h4>by Crowdpouch</h4>
                <p>We are searching for experienced <br class="br"/>
                  product reviewer who can make a<br class="br"/>
                  nice presentation of our product. </p>
              </div>
              <div class="col-xs-4 event_width">
                <div class="event_new_beach">
                  <h2>Full -Time </h2>
                  <h4>On Site</h4>
                  <ul>
                    <li><img src="assets/img/loction-icon.png" alt="img"> New York,<br class="br"/>
                    </li>
                    <li>United States of America</li>
                  </ul>
                  <a class="job_a" href="#">APPLY NOW</a> </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="event_new_crowdpouch job_new_crowdpouch">
            <div class="row">
              <div class="col-xs-8 event_width"> <img class="img-responsive" src="assets/img/job-slide-img2.jpg" alt="img">
                <h3>Project Manager</h3>
                <h4>by Crowdpouch</h4>
                <p>We are searching for experienced <br class="br"/>
                  product reviewer who can make a<br class="br"/>
                  nice presentation of our product. </p>
              </div>
              <div class="col-xs-4 event_width">
                <div class="event_new_beach">
                  <h2>Full -Time </h2>
                  <h4>On Site</h4>
                  <ul>
                    <li><img src="assets/img/loction-icon.png" alt="img"> New York,<br class="br"/>
                    </li>
                    <li>United States of America</li>
                  </ul>
                  <a class="job_a" href="#">APPLY NOW</a> </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="event_new_crowdpouch job_new_crowdpouch">
            <div class="row">
              <div class="col-xs-8 event_width"> <img class="img-responsive" src="assets/img/job-slide-img2.jpg" alt="img">
                <h3>Project Manager</h3>
                <h4>by Crowdpouch</h4>
                <p>We are searching for experienced <br class="br"/>
                  product reviewer who can make a<br class="br"/>
                  nice presentation of our product. </p>
              </div>
              <div class="col-xs-4 event_width">
                <div class="event_new_beach">
                  <h2>Full -Time </h2>
                  <h4>On Site</h4>
                  <ul>
                    <li><img src="assets/img/loction-icon.png" alt="img"> New York,<br class="br"/>
                    </li>
                    <li>United States of America</li>
                  </ul>
                  <a class="job_a" href="#">APPLY NOW</a> </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="event_new_crowdpouch job_new_crowdpouch">
            <div class="row">
              <div class="col-xs-8 event_width"> <img class="img-responsive" src="assets/img/job-slide-img2.jpg" alt="img">
                <h3>Project Manager</h3>
                <h4>by Crowdpouch</h4>
                <p>We are searching for experienced <br class="br"/>
                  product reviewer who can make a<br class="br"/>
                  nice presentation of our product. </p>
              </div>
              <div class="col-xs-4 event_width">
                <div class="event_new_beach">
                  <h2>Full -Time </h2>
                  <h4>On Site</h4>
                  <ul>
                    <li><img src="assets/img/loction-icon.png" alt="img"> New York,<br class="br"/>
                    </li>
                    <li>United States of America</li>
                  </ul>
                  <a class="job_a" href="#">APPLY NOW</a> </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6 job_pdg">
  <div class="event_new_map job_new_map"> <img class="img-responsive" src="assets/img/map-img.jpg" alt="img">
    <div class="event_new_map_input job_input">
      <div class="row">
        <div class="col-xs-7 event_width">
          <h2>Map Search</h2>
          <p>Search by Postcode, City, etc..</p>
        </div>
        <div class="col-xs-5 event_width">
          <input type="email" placeholder="Type here...">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="our_partnership">
  <div class="container">
    <h2>latest jobs <a class="all" href="#">BROWSE ALL</a></h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="partnership_box"> <img src="assets/img/img4.png" class="img-responsive partnership_img2" alt="img">
          <div class="full">
            <h3>MANAGER</h3>
            <h4>New York</h4>
          </div>
          <h5>Full time position</h5>
          <p>We are searching for experienced product reviewer who can make a nice presentation of our product. We are searching for experienced product reviewer who can make a nice presentation of our product. </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="partnership_box"> <img src="assets/img/img5.png" class="img-responsive partnership_img2" alt="img">
          <div class="full">
            <h3>MANAGER</h3>
            <h4>New York</h4>
          </div>
          <h5>Full time position</h5>
          <p>We are searching for experienced product reviewer who can make a nice presentation of our product. We are searching for experienced product reviewer who can make a nice presentation of our product. </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="partnership_box"> <img src="assets/img/img6.png" class="img-responsive partnership_img2" alt="img">
          <div class="full">
            <h3>MANAGER</h3>
            <h4>New York</h4>
          </div>
          <h5>Full time position</h5>
          <p>We are searching for experienced product reviewer who can make a nice presentation of our product. We are searching for experienced product reviewer who can make a nice presentation of our product. </p>
        </div>
      </div>
    </div>
  </div>
</div>