<div class="campaign_create">
	<h1>create a campaign</h1>
	<div class="camp_create_box">
		<form [formGroup]="projectForm">
			<div class="form-group">
				<label for="usr">Campaign Title *</label>
				<div *ngIf="!isEditing">
					<input type="text" class="form-control" placeholder="Enter title" formControlName="title">
					<p *ngIf="projectForm.get('title').hasError('required') && (projectForm.get('title').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
				</div>
				<div *ngIf="isEditing">
					{{projectForm.get('title').value}}
				</div>
			</div>
			<div class="form-group">
				<label for="comment">Campaign Category *</label>
				<select class="form-control" formControlName="category_id">
					<option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
				</select>
			</div>
			<h2>Upload your Campaign Image *</h2>
			<!-- <div class="camp_upload_img"> -->
			<app-image-upload (image)="setImageData($event)"></app-image-upload>
			<p *ngIf="!isImagePresent() && formSubmit" class="value-err show">Campaign image is required</p>
			<!-- <h4>Upload Image</h4> -->
			<!-- </div> -->
			<br>
			<h2>Video URL</h2>
			<p>Enter a URL to appear at the top of your campaign page.</p>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Http:\\.." formControlName="video_url">
				<p *ngIf="projectForm.get('video_url').hasError('validateURL') && projectForm.get('video_url').touched" class="value-err show">Video Url is invalid</p>
			</div>
			<h2>Campaign Goal *</h2>
			<p>How much money would you like to raise for this campaign? </p>
			<div class="row">
				<div *ngIf="!isEditing">
					<div class="col-xs-6">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="$ 500" formControlName="pledged_amount">
							<p *ngIf="projectForm.get('pledged_amount').hasError('required') && (projectForm.get('pledged_amount').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="camp_select slate">
							<select>
								<option>USA</option>
								<option>USA</option>
							</select>
						</div>
					</div>
				</div>
				<div *ngIf="isEditing">
					${{projectForm.get('pledged_amount').value}}
				</div>
			</div>
			<h2>Funding Model</h2>
			<p>Lorem Ipsum</p>
			<div>
				<div *ngIf="!isEditing" class="camp_flexi">
					<div class="col-xs-6">
						<input type="radio" name="funding_model" formControlName="funding_model" value="flexi">
						<h2>FLEXI 
							<img src="assets/img/qstion-iconimg.png" alt="img">
						</h2>
					</div>
					<div class="col-xs-6">
						<input type="radio" name="funding_model" formControlName="funding_model" value="fixed">
						<h2>FIXED
							<img src="assets/img/qstion-iconimg.png" alt="img">
						</h2>
					</div>
				</div>
				<div *ngIf="isEditing">
					{{projectForm.get('funding_model').value}}
				</div>
			</div>
			<h2>Begin Date *</h2>
			<p>Lorem ipsum begin date end date</p>
			<div *ngIf="!isEditing">
				<div class="camp_date">
					<div class="form-group">
						<div class="col-xs-3 camp_date_width">
							<select class="form-control">
								<option disabled class="hide">Day</option>
								<option *ngFor="let day of days">{{day}}</option>
							</select>
						</div>
						<div class="col-xs-3 camp_date_width">
							<select class="form-control">
								<option disabled class="hide">Month</option>
								<option *ngFor="let month of months">{{month}}</option>
							</select>
						</div>
						<div class="col-xs-3 camp_date_width">
							<select class="form-control">
								<option disabled class="hide">Year</option>
								<option>2017</option>
								<option>2018</option>
							</select>
						</div>
						<div class="col-xs-3"></div>
					</div>
				</div>
			</div>
			<div *ngIf="isEditing">
				02/05/2017
				<!--{{projectForm.get('start_date').value}}-->
			</div>
			<h2>Begin Duration *</h2>
			<p>Lorem ipsum begin date end date</p>
			<div class="camp_duration">
				<div *ngIf="!isEditing">
					<input type="number" placeholder="Duration" min="1" max="60" class="form-control" formControlName="duration">
					<p *ngIf="projectForm.get('duration').hasError('required') && (projectForm.get('duration').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
					<p *ngIf="projectForm.get('duration').hasError('validateNumber') && (projectForm.get('duration').touched || formSubmit)" class="value-err show">Duration must between 1 and 60 days</p>
				</div>
				<div *ngIf="isEditing">
					{{projectForm.get('duration').value}}
				</div>
			</div>
			<div class="camp_link">
				<a (click)="submitProject()" class="btnNext">NEXT</a>
			</div>
		</form>
	</div>
</div>