<div class="campaign_create">
  <h1>Create a campaign</h1>
  <div class="camp_create_box">
    <form [formGroup]="projectForm">
      <div class="form-group">
        <label for="usr">Campaign Title *</label>
        <input type="text" class="form-control" placeholder="Enter title" formControlName="title">
        <p *ngIf="projectForm.get('title').hasError('required') && (projectForm.get('title').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
      </div>
      <div class="form-group">
        <label for="comment">Campaign Category *</label>
        <select class="form-control" formControlName="category_id">
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
      </div>
      <h2>Upload your Campaign Images</h2>
			<div formArrayName="pictures_attributes">
				<span class="image-div" *ngFor="let picture of getPictures(); let i = index">
					<span (click)="removePictureAttribue(i)" class="fa fa-times cross"></span>
					<img class="reward-image" [src]="picture.url" alt="img">
				</span>
				<span class="image-div" *ngFor="let image_data of projectForm.get('images_data').value; let i = index">
					<span (click)="removeImageData(i)" class="fa fa-times cross"></span>
					<img class="reward-image" [src]="image_data" alt="img">
				</span>
			</div>
			<app-image-upload #imageUpload (click)="uploadImage()" (image)="setImageData($event)">
				<img src="assets/img/camera-img.png" alt="img">
				<h4>Upload Image</h4>
			</app-image-upload>
      <br>
      <h2>Video URL</h2>
      <p>Enter a URL to appear at the top of your campaign page.</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="https:\\.." formControlName="video_url">
        <p *ngIf="projectForm.get('video_url').hasError('validateURL') && projectForm.get('video_url').touched" class="value-err show">Video Url is invalid</p>
      </div>
      <h2>Campaign Goal *</h2>
      <p>How much money would you like to raise for this campaign? </p>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="$ 500" formControlName="pledged_amount">
            <p *ngIf="projectForm.get('pledged_amount').hasError('required') && (projectForm.get('pledged_amount').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="camp_select slate">
            <select formControlName="currency">
              <option>USD</option>
              <option>GBP</option>
              <option>AUD</option>
              <option>CAD</option>
              <option>EUR</option>
            </select>
          </div>
        </div>
      </div>
      <h2>Funding Model *</h2>
      <!--<p>Lorem Ipsum</p>-->
      <div class="camp_flexi">
        <div class="col-xs-6" tooltip="Flexible Funding: Keep Your Money No Matter What" placement="top">
          <div class="radio">
            <input type="radio" id="boxi" name="funding_model" formControlName="funding_model" value="flexi">
            <label for="boxi">
            <h2>Flexi <img src="assets/img/fixed-icon-1.png" alt="img"> </h2>
            </label>
          </div>
        </div>
        <div class="col-xs-6" tooltip="Fixed Funding: Keep Your Money Only if You Meet Your Goal" placement="top">
          <div class="radio">
            <input type="radio" id="boxi-1" name="funding_model" formControlName="funding_model" value="fixed">
            <label for="boxi-1">
            <h2>Fixed <img src="assets/img/fixed-icon.png" alt="img"> </h2>
            </label>
          </div>
        </div>
      </div>
      <h2>Begin Date *</h2>
			<div style="display:inline-block; min-height:290px;">
				<datepicker [(ngModel)]="selectedDate" [ngModelOptions]="{standalone: true}" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
			</div>
      <h2>Begin Duration *</h2>
      <!--<p>Lorem ipsum begin date end date</p>-->
      <div class="camp_duration">
        <input type="number" placeholder="Duration" min="1" max="60" class="form-control" formControlName="duration">
        <p *ngIf="projectForm.get('duration').hasError('required') && (projectForm.get('duration').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
        <p *ngIf="projectForm.get('duration').hasError('validateNumber') && (projectForm.get('duration').touched || formSubmit)" class="value-err show">Duration must between 1 and 60 days</p>
      </div>
      <div class="camp_link"> <a (click)="submitProject()" class="btnNext">NEXT</a> </div>
    </form>
  </div>
</div>
