<div class="campaign_create">
	<h1>create a campaign</h1>
	<div class="camp_create_box">
		<form [formGroup]="projectForm">
			<div class="form-group">
				<label for="usr">Campaign Title:</label>
				<input type="text" class="form-control" placeholder="Enter title" formControlName="title">
			</div>
			<div class="form-group">
				<label for="comment">Campaign Category</label>
				<select class="form-control" formControlName="category_id">
					<option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
				</select>
			</div>
			<h2>Upload your Campaign Image</h2>
			<!-- <div class="camp_upload_img"> -->
			<input type="file" name="pic" accept="image/*" (change)="handleOnChange($event)">
			<!-- <h4>Upload Image</h4> -->
			<!-- </div> -->
			<br>
			<h2>Video URL</h2>
			<p>Enter a URL to appear at the top of your campaign page.</p>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Http:\\.." formControlName="video_url">
			</div>
			<h2>Campaign Goal</h2>
			<p>How much money would you like to raise for this campaign? </p>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="$ 500" formControlName="goal_amount">
					</div>
				</div>
				<div class="col-xs-6">
					<div class="camp_select slate">
						<select>
							<option>USA</option>
							<option>USA</option>
						</select>
					</div>
				</div>
			</div>
			<h2>Funding Model</h2>
			<p>Lorem Ipsum</p>
			<div class="camp_flexi">
				<div class="col-xs-6">
					<input type="radio" name="funding_model" checked formControlName="funding_model" value="flexi">
					<h2>FLEXI 
						<img src="assets/img/qstion-iconimg.png" alt="img">
					</h2>
				</div>
				<div class="col-xs-6">
					<input type="radio" name="funding_model" formControlName="funding_model" value="fixed">
					<h2>FIXED
						<img src="assets/img/qstion-iconimg.png" alt="img">
					</h2>
				</div>
			</div>
			<h2>Begin Date</h2>
			<p>Lorem ipsum begin date end date</p>
			<div class="camp_date">
				<div class="form-group">
					<div class="col-xs-3 camp_date_width">
						<select class="form-control">
							<option>Date</option>
							<option>Sunday</option>
						</select>
					</div>
					<div class="col-xs-3 camp_date_width">
						<select class="form-control">
							<option>Month</option>
							<option>January</option>
						</select>
					</div>
					<div class="col-xs-3 camp_date_width">
						<select class="form-control">
							<option>Year</option>
							<option>2001</option>
						</select>
					</div>
					<div class="col-xs-3"></div>
				</div>
			</div>
			<h2>Begin Duration</h2>
			<p>Lorem ipsum begin date end date</p>
			<div class="camp_duration">
				<select class="form-control">
					<option>45</option>
				</select>
			</div>
			<div class="camp_link">
				<a (click)="submitProject()" class="btnNext">NEXT</a>
			</div>
		</form>
	</div>
</div>