<!-- support -->
<div class="support">
  <div class="container">
    <p>To contact us, please select the issue you'd like us
      to help you with and open a support ticket. Along 
      the way, we'll suggest some relevant solutions.</p>
    <ul>
      <li> <a href="#." class="btn btn-default">starting a project</a> </li>
      <li> <a href="#." class="btn btn-default">backing a project</a> </li>
    </ul>
  </div>
</div>


<!-- Support -->
<div class="support_partiaiiy">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Did this answer your question? </h2>
        <ul>
          <li><a href="#">yes</a></li>
          <li><a href="#">partially</a></li>
          <li><a href="#">no</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

