<app-header></app-header>
<section class="main">
	<router-outlet></router-outlet>
</section>
<section id="explorebtn">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 space20">
        <button type="submit" class="expbtn1">EXPLORE CAMPAIGN</button>
      </div>
      <div class="col-md-6 col-sm-6 space20">
        <button [routerLink]="['/projects','new']" type="submit" class="expbtn1">START A CAMPAIGN</button>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>