<app-header (modal)="setModalType($event)"></app-header>

<ng2-toasty [position]="'top-center'"></ng2-toasty>

<app-modal #customModal>
  <div *ngIf="modalType === 'login'">
    <app-login></app-login>
  </div>
  <div *ngIf="modalType === 'signup'">
  <app-signup></app-signup>
  </div>
</app-modal>

<section class="main">
	<router-outlet></router-outlet>
</section>


<!-- Explore  -->
<section id="explorebtn">
  <div class="container">
    <h2>Integer iaculis dolor vel aliquam lobortis. Nulla facilisi. Maecenas hendrerit lacus sit amet molestie interdum. Pellentesque habitant morbi tristique senectus et netus.</h2>
    <button type="submit" class="expbtn1">EXPLORE CAMPAIGN</button>
    <button [routerLink]="['/projects','new']" type="submit" class="expbtn1">START A CAMPAIGN</button>
  </div>
</section>
<app-footer></app-footer>
