<div class="rulebook sub-bnr-flat">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Our Rules</h2>
        <p>CROWDPOUCH is a community of people committed
          to bringing creative projects to life.</p>
      </div>
    </div>
  </div>
</div>

<div class="rulebook_contant">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h2>backers rules</h2>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>campaigners rules</h2>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
        <article>
          <h3>Lorem ipsum dolor.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. </p>
        </article>
      </div>
    </div>
    <div class="row rulebook_mrg">
      <div class="col-xs-12 ">
        <div class="cookies_link"> <a href="#"><span>Still need help?</span> Contact us here.</a> </div>
      </div>
    </div>
  </div>
</div>