.modal-body {
	text-align: center;
	.report-reason {
		width: 50%;
		height: 140px;
		resize: none;
		padding: 10px;
	}
	.send {
		margin: 0 auto;
		display: block;
    border: 0px;
    background: #29acbf;
    color: white;
    font-size: 20px;
    padding: 9px 35px;
    border-radius: 5px;
    margin-top: 10px;		
	}
}