<div class="cookies_banner sub-bnr-flat">
  <div class="container">
    <h2>Privacy Policy</h2>
    <p>This policy was updated to reflect our new project <br class="br">
      collaborators feature, and went into effect June 9, 2016.</p>
  </div>
</div>

<div class="cookies_contant">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <article>
          <h2>What We Collect</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,<br>
            <br>
            and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
        </article>
        
        <!-- Article -->
        <article>
          <h2>What’s Private</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos 
            trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis 
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
            officia deserunt mollit anim id est laborum.<br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
            trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis 
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
            officia deserunt mollit anim id est laborum.</p>
        </article>
        
        <!-- Article -->
        <article>
          <h2>What’s Shared with Creators & Collaborators</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
            
            and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        </article>
      </div>
      <div class="col-md-4 col-md-offset-1 faq_link">
        <h4>UseFull Links</h4>
        <ul>
          <li><a href="#">Support</a></li>
          <li><a href="#">Rulebook</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Tutorials</a></li>
        </ul>
        <h4>Backer Questions</h4>
        <ul>
          <li><a href="#">Support</a></li>
          <li><a href="#">Rulebook</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Tutorials</a></li>
        </ul>
      </div>
    </div>
    <div class="cookies_link"> <a href="#"><span>Still need help?</span> Contact us here.</a> </div>
  </div>
</div>