<div class="tab-pane">
  <h2>{{ 'USER_DASHBOARD.BACKERS_DETAILS' | translate }}</h2>
  <div class="backers">
    <table class="table">
      <thead>
        <tr>
          <th>{{ 'USER_DASHBOARD.NAME_SURNAME' | translate }}</th>
          <th>{{ 'USER_DASHBOARD.EMAIL' | translate }}</th>
          <th>{{ 'USER_DASHBOARD.ADDRESS' | translate }}</th>
          <th>{{ 'USER_DASHBOARD.PHONE_NUMBER' | translate }}</th>
          <th>{{ 'USER_DASHBOARD.PLEDGE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let backer of user.project_backers">
          <td>{{backer.name}}</td>
          <td>{{backer.email}}</td>
          <td>{{backer.address || 'Not Availabe'}}</td>
          <td>{{backer.phone_no || 'Not Availabe'}}</td>
          <td>${{backer.total_backed_amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>