<div class="tab-pane">
  <h2>Backers Details</h2>
  <div class="backers">
    <table class="table">
      <thead>
        <tr>
          <th>name & surname</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Pledge</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Smith</td>
          <td>johnsmith@gmail.com</td>
          <td>25 cnshgy 239847 Italy</td>
          <td>259 475903284</td>
          <td>$1290</td>
        </tr>
        <tr>
          <td>John Smith</td>
          <td>johnsmith@gmail.com</td>
          <td>25 cnshgy 239847 Italy</td>
          <td>259 475903284</td>
          <td>$1290</td>
        </tr>
        <tr>
          <td>John Smith</td>
          <td>johnsmith@gmail.com</td>
          <td>25 cnshgy 239847 Italy</td>
          <td>259 475903284</td>
          <td>$1290</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>