<div class="campaign_create">
	<h1>story</h1>
	<div class="camp_create_box">
		<div class="panel-group" id="accordion">
			<form [formGroup]="storyForm">
				<div formArrayName="sections_attributes">
					<div *ngFor="let section of storyForm.get('sections_attributes').controls; let i = index">
						<div class="panel panel-default" formGroupName="{{i}}">
							<div class="panel-heading">
								<span class="fa fa-times pull-right "></span>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									<h4 class="panel-title">
										Section #{{i+1}}
									</h4>
								</a>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="camp_mrg2"></div>
									<div class="form-group">
										<label for="usr">Story Heading</label>
										<input type="text" class="form-control" formControlName="heading" placeholder="Enter title">
									</div>
									<div class="form-group">
										<label for="comment">Story Description</label>
										<textarea class="form-control" rows="2" formControlName="description" placeholder="Enter description"></textarea>
									</div>
									<h2>Upload your Image</h2>
									<input type="file" name="pic" accept="image/*" (change)="handleOnChange($event, i)">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<!--<div class="panel panel-default template">
				<div class="panel-heading">
					<span class="fa fa-times pull-right "></span>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						<h4 class="panel-title">
							Section #1 (template panel)
						</h4>
					</a>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="camp_mrg2"></div>
						<form>
							<div class="form-group">
								<label for="usr">Story Heading</label>
								<input type="text" class="form-control" placeholder="Enter title">
							</div>
							<div class="form-group">
								<label for="comment">Story Description</label>
								<textarea class="form-control" rows="2" placeholder="Enter description"></textarea>
							</div>
						</form>
						<h2>Upload your Reward Image</h2>
						<input type="file" name="pic" accept="image/*">
					</div>
				</div>
			</div>-->
		</div>
		<br>
		<div class="camp_mrg"></div>
		<div class="camp_link">
			<a (click)="onSubmit()" class="btnNext pull-right" style="width:48%">NEXT</a>
			<a (click)="onAddSection()" class="camp_btn btn-default btn-add-panel" style="width:48%">
				<i class="fa fa-plus"></i> Add New Section
			</a>
			<!-- <button class="btn btn-lg btn-primary btn-add-panel" ></button> -->
		</div>
	</div>
</div>