<div class="payment-section">
	<div class="left">
		<div class="payment-header">
			<span class="lbl">Choose Payment Mode</span>
			<span class="amt you-pay">
				<span class="amt">You Pledged</span>
				<span class="you-pay">${{pledgedAmount | number:'1.2-2'}}</span>
			</span>
		</div>
		<div class="pay-body">
			<app-payment-methods [projectId]="projectId" [rewardId]="selectedRewardId" [pledgedAmount]="pledgedAmount"></app-payment-methods>
		</div>
	</div>
	<div class="right">
		<app-selected-reward [reward]="selectedReward" [pledgedAmount]="pledgedAmount"></app-selected-reward>
	</div>
</div>