<div class="campaign_create">
	<h1>faq</h1>
	<div class="camp_create_box">
		<div class="panel-group" id="accordionFaq">
			<form [formGroup]="faqForm">
				<div formArrayName="faqs_attributes">
					<div *ngFor="let faq of getFaqs(); let i = index">
						<div class="panel panel-default" formGroupName="{{i}}">
							<div class="panel-heading">
								<span class="fa fa-times pull-right "></span>
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFaq" href="#collapseFaq">
									<h4 class="panel-title">
										Add FAQ #{{i+1}}
									</h4>
								</a>
							</div>
							<div id="collapseFaq" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="camp_mrg2"></div>
									<div class="form-group">
										<label for="">Question</label>
										<textarea class="form-control" rows="2" placeholder="Enter question" formControlName="question"></textarea>
										<p *ngIf="faq.get('question').hasError('required') && (faq.get('question').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
									</div>
									<div class="form-group">
										<label for="">Answer</label>
										<textarea class="form-control" rows="2" placeholder="Enter Answer" formControlName="answer"></textarea>
										<p *ngIf="faq.get('answer').hasError('required') && (faq.get('answer').touched || formSubmit)" class="value-err show">This is a mandatory field</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<br>
		<div class="camp_mrg"></div>
		<div class="camp_link">
			<a (click)="onSubmit()" class="btnNext pull-right" style="width:48%">NEXT</a>
			<a (click)="onAddFaq()" class="camp_btn btn-default faq-add-panel" style="width:48%">
				<i class="fa fa-plus"></i> Add New FAQ
			</a>
			<!-- <button class="btn btn-lg btn-primary btn-add-panel" ></button> -->
		</div>
	</div>
</div>
