<div class="campaign_create">
	<h1>faq</h1>
	<div class="camp_create_box">
		<div class="panel-group" id="accordionFaq">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="fa fa-times pull-right "></span>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFaq" href="#collapseFaq">
						<h4 class="panel-title">
          Add FAQ #1
      </h4>
					</a>
				</div>
				<div id="collapseFaq" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="camp_mrg2"></div>
						<form>
							<div class="form-group">
								<label for="comment">Question ?</label>
								<textarea class="form-control" rows="2" placeholder="Enter question"></textarea>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="panel panel-default templateFAQ">
				<div class="panel-heading">
					<span class="fa fa-times pull-right "></span>
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFaq" href="#collapseFour">
						<h4 class="panel-title">
                Add FAQ 2 
             </h4>
					</a>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="camp_mrg2"></div>
						<form>
							<div class="form-group">
								<label for="comment">Question ?</label>
								<textarea class="form-control" rows="2" placeholder="Enter question"></textarea>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<br>
			<div class="camp_mrg"></div>
			<div class="camp_link">
				<a class="btnNext pull-right" style="width:250px">NEXT</a>
				<a class="camp_btn btn-default faq-add-panel" style="width:250px">
					<i class="fa fa-plus"></i> Add New FAQ
				</a>
				<!-- <button class="btn btn-lg btn-primary btn-add-panel" ></button> -->
			</div>
		</div>
	</div>