.modal-body {
  text-align: center;
}

.btn {
	width: 30%;
	margin-bottom: 15px;
}

.btn-fa {
	background: #3b5998;
  color: white;
  padding: 10px;
  font-size: 16px;
}

.btn-tw {
	background: #0084b4;
  color: white;
  padding: 10px;
  font-size: 16px;
}

.share-link {
  input {
    padding: 7px 2px 7px 7px;
    width: 50%;
  }
}