<div class="col-md-4 payment_info">
  <article>
    <div class="head-info">
      <h6>payment info</h6>
    </div>
    <div class="payment_img">
      <a><img src="assets/img/stripe_logo.png" class="img-responsive" alt="img"></a>
    </div>
    <p>You are not connected with stripe, please connect with stripe before donors can fund into your project</p>
    <div class="connect_img">
      <a><img (click)="connectWithStripe()" src="assets/img/stripe_connect.png" class="img-responsive" alt="img"></a>
    </div>
  </article>
</div>
