<div *ngIf="authStatus$ | async" class="new-comment">
  <form class="add-comment" [formGroup]="commentForm">
    <label for="comment">
      <span>
        <img [src]="(authUser$ | async).image_url">
      </span>
      <textarea formControlName="body" id="comment" rows="1" placeholder="what do you think of this project"></textarea>
    </label>
    <button (click)="addComment()" class="save-button">Save</button>
  </form>
</div>

<div class="comments">
  <div *ngFor="let comment of comments$ | async" class="comment">
    <div class="heading">
      <a class="avatar">
        <img [src]="comment.user_avatar" alt="">
      </a>
      <div class="name">
        <a class="bold-text">{{comment.user_name}}</a>
        <div class="text" >@{{comment.user_name}}</div>
      </div>
    </div>
    <div class="body">
      <div class="comment-body">{{comment.body}}</div>
    </div>
    <div *ngIf="comment.user_id == (authUser$ | async).id" (click)="deleteComment(comment.id)" class="cross">X</div>
  </div>
</div>