<!-- Banner -->
<section id="banner">
  <div id="slides"> 
    <div class="slides-container"> 
      <div class="bg-img-1" data-stellar-background-ratio="0.5">
        <div class="position-center-center">
          <div class="text-bnr">
            <h1>The #1 online and mobile fundraising platform. </h1>
            <p>Trusted by 3,000+ of the world's top nonprofits & social enterprises.</p>
            <a href="#." class="btn">Create your dream</a> </div>
        </div>
      </div>
      <div class="bg-img-2" data-stellar-background-ratio="0.5">
        <div class="position-center-center">
          <div class="text-bnr">
            <h1>The #1 online and mobile fundraising platform. </h1>
            <p>Trusted by 3,000+ of the world's top nonprofits & social enterprises.</p>
            <a href="#." class="btn">Create your dream</a> </div>
        </div>
      </div>
    </div>
    <nav class="slides-navigation"> <a href="#" class="next"><i class="flaticon-arrows-1"></i></a> <a href="#" class="prev"><i class="flaticon-arrows"></i></a> </nav>
  </div>
  <div class="scroll"> <a href="#go-up" class="go-down"><i class="flaticon-down-arrow"></i></a></div>
</section>

<!-- Categories -->
<section class="categories" id="go-up">
  <ul>
    <li> <a href="#."><i class="flaticon-men-dancing"></i> <span>Dance</span></a> </li>
    <li> <a href="#."><i class="flaticon-idea"></i> <span>Technology</span></a> </li>
    <li> <a href="#."><i class="flaticon-headphones"></i> <span>Music</span></a> </li>
    <li> <a href="#."><i class="flaticon-cutlery"></i> <span>Food</span></a> </li>
    <li> <a href="#."><i class="flaticon-technology-1"></i> <span>Photography</span></a> </li>
    <li> <a href="#."><i class="flaticon-video-camera"></i> <span>Films</span></a> </li>
    <li> <a href="#."><i class="flaticon-gamepad"></i> <span>Games</span></a> </li>
    <li> <a href="#."><i class="flaticon-diamond"></i> <span>Fashion</span></a> </li>
    <li> <a href="#."><i class="flaticon-charity"></i> <span>Non Profit</span></a> </li>
    <li> <a href="#." class="all-cat"> Browse <br>
      All Categories</a> </li>
  </ul>
</section>

<!-- Projects -->
<section class="projects">
  <div class="container">
    <div class="heading-block">
      <h2>Trending Projects</h2>
      <a href="#.">View All</a> </div>
    <div class="row"> 
      
      <!-- Projects Item -->
      <div class="col-md-4">
        <article>
          <div class="p-img"> <img src="assets/img/p-img-1.jpg" alt="" > </div>
          <div class="text-part"> <a href="#.">BLOOD MACHINES - Turbo Killer 2</a>
            <p>A live action space opera by SETH ICKERMAN & CARPENTER BRUT. A female ghost challenges two space hunters into a galactic chase...</p>
          </div>
          <ul>
            <li class="pouch-info"> <i class="pouch"></i> <span>44%</span> </li>
            <li> <i class="flaticon-target"></i> <span>$7,999</span> </li>
            <li> <i class="flaticon-user"></i> <span>179</span> </li>
            <li> <i class="flaticon-alarm-clock"></i> <span>13</span> </li>
          </ul>
        </article>
      </div>
      
      <!-- Projects Item -->
      <div class="col-md-4">
        <article>
          <div class="p-img"> <img src="assets/img/p-img-1.jpg" alt="" > </div>
          <div class="text-part"> <a href="#.">BLOOD MACHINES - Turbo Killer 2</a>
            <p>A live action space opera by SETH ICKERMAN & CARPENTER BRUT. A female ghost challenges two space hunters into a galactic chase...</p>
          </div>
          <ul>
            <li class="pouch-info"> <i class="pouch pouch-half"></i> <span>55%</span> </li>
            <li> <i class="flaticon-target"></i> <span>$7,999</span> </li>
            <li> <i class="flaticon-user"></i> <span>179</span> </li>
            <li> <i class="flaticon-alarm-clock"></i> <span>13</span> </li>
          </ul>
        </article>
      </div>
      
      <!-- Projects Item -->
      <div class="col-md-4">
        <article>
          <div class="p-img"> <img src="assets/img/p-img-1.jpg" alt="" > </div>
          <div class="text-part"> <a href="#.">BLOOD MACHINES - Turbo Killer 2</a>
            <p>A live action space opera by SETH ICKERMAN & CARPENTER BRUT. A female ghost challenges two space hunters into a galactic chase...</p>
          </div>
          <ul>
            <li class="pouch-info"> <i class="pouch"></i> <span>100%</span> </li>
            <li> <i class="flaticon-target"></i> <span>$7,999</span> </li>
            <li> <i class="flaticon-user"></i> <span>179</span> </li>
            <li> <i class="flaticon-alarm-clock"></i> <span>13</span> </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- Video Section -->
<section class="video-bnr" data-stellar-background-ratio="0.8">
  <div class="container">
    <div class="video-text"> <a href="#." class="video-icon"><i class="fa fa-play"></i></a>
      <h2>Play Video for Our Introduction</h2>
    </div>
  </div>
</section>

<!-- Testimonial -->
<section class="testimonial">
  <div class="container"> 
    
    <!-- Main Heading -->
    <div class="heading-block text-center">
      <h2>What Our Customer Say’s</h2>
    </div>
    <div class="testi"> 
      <!-- Testi Slides With Image -->
      <ul class="testi-slide-2">
        
        <!-- Slides -->
        <li> 
          <!-- Avatar -->
          <div class="avatar"><img class="img-circle img-responsive" src="assets/img/testimonial-4a.png" alt=" "></div>
          <div class="text-in">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat”</p>
            <hr class="small center">
            <h6>TIM JONATHAN DOE</h6>
            <span>CEO Apple corp</span></div>
        </li>
        
        <!-- Slides -->
        <li> 
          <!-- Avatar -->
          <div class="avatar"><img class="img-circle img-responsive" src="assets/img/testimonial-2b.png" alt=" "></div>
          <div class="text-in">
            <p>“There are many variations  but the majority have suffered alteration. but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.”</p>
            <hr class="small center">
            <h6>M_ADNAN</h6>
            <span> CEO/FOUNDER DELL</span></div>
        </li>
        
        <!-- Slides 1 -->
        <li> 
          <!-- Avatar -->
          <div class="avatar"><img class="img-circle img-responsive" src="assets/img/testimonial-2c.png" alt=" "></div>
          <div class="text-in">
            <p>“There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, Alteration in some form randomised words which don't look even slightly believable.”</p>
            <hr class="small center">
            <h6>JONATHAN TIM </h6>
            <span> CEO Apple corp</span></div>
        </li>
      </ul>
    </div>
  </div>
</section>









<!--<section id="banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 pad0">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class=""></li>
						<li data-target="#myCarousel" data-slide-to="1" class=""></li>
						<li data-target="#myCarousel" data-slide-to="2" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="3" class=""></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item">
              <img src="assets/img/img1.png" class="img-responsive center-block" width="100%" alt="img">
              <div class="carousel-caption">
                <h1 class="maintitle">WELCOME, MAXICO</h1>
                <p class="space20">THE LATEST IN ART, CULTURE &amp; SOCIETY</p>
              </div>
            </div>
            <div class="item active left">
              <img src="assets/img/img1.png" class="img-responsive center-block" width="100%" alt="img">
              <div class="carousel-caption">
                <h1 class="maintitle">WELCOME, MAXICO</h1>
                <p>THE LATEST IN ART, CULTURE &amp; SOCIETY</p>
              </div>
            </div>
            <div class="item next left">
              <img src="assets/img/img1.png" class="img-responsive center-block" width="100%" alt="img">
              <div class="carousel-caption">
                <h1 class="maintitle">WELCOME, MAXICO</h1>
                <p>THE LATEST IN ART, CULTURE &amp; SOCIETY</p>
              </div>
            </div>
									<div class="item">
										<img src="assets/img/img1.png" class="img-responsive center-block" width="100%" alt="img">
											<div class="carousel-caption">
												<h1 class="maintitle">WELCOME, MAXICO</h1>
												<p>THE LATEST IN ART, CULTURE &amp; SOCIETY</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

<div *ngIf="trendingProject">

	<section id="spinagogue">
		<div class="container">
			<div class="spinagogue_bg">
				<div class="row">
					<div class="col-md-4 padleft50">
						<a (click)="selectProject(trendingProject)" [routerLink]="['/projects', trendingProject.id]">
							<img [src]="trendingProject.image_url" class="img-responsive center-block" alt="image">
						</a>
						</div>
						<div class="col-md-8 padright50">
							<div class="">
								<h3>{{trendingProject.title}}</h3>
								<p>by {{trendingProject.user_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="#" class="whiteclr">
										<img src="assets/img/icon2.png" alt="icon">&nbsp; Online
									</a>
									</p>
									<p class="space15">Dreidel is now a tabletop game of skill, played competitively and socially by spinners of all ages. No Gelt, No Glory!</p>
									<p class="space15">
										<span>
											<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Newyork, United States of America
										</span>
										<span class="padleft50">
											<i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp;{{trendingProject.category_name}}
										</span>
									</p>
									<div class="progress space10">
										<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
											<span class="sr-only"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

	<section class="spinagogue_details">
		<div class="container">
			<div class="row">
				<div class="col-md-8 padleft50">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-6 space15">
							<h2>{{trendingProject.percent_funded | number:'1.0-2'}}%
								<br>funded 
								</h2>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 space15">
								<h2>${{trendingProject.pledged_amount}}
									<br>plegded
									</h2>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6 space15">
									<h2>{{trendingProject.total_backers}}
										<br>backers
										</h2>
									</div>
									<div class="col-md-3 col-sm-6 col-xs-6 space15">
										<h2>{{trendingProject.duration}}
											<br>days to go
											</h2>
										</div>
									</div>
								</div>
								<div class="col-md-4 padright50">
									<div class="mybutton_div">
										<button type="button" (click)="selectProject(trendingProject)" [routerLink]="['/projects', trendingProject.id]" class="mybtn">PARTICIPATE</button>
									</div>
								</div>
							</div>
						</div>
					</section>
</div>


<section id="tranding_sec">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="title">TRENDING PROJECTS</h2>
			</div>
			<div class="col-md-8">
				<button type="button" class="mybtn1">BROWSE ALL</button>
			</div>
		</div>
		<div class="row">
			<div *ngFor="let project of projects | slice:1" class="col-md-4 col-sm-4 col-xs-12 space15">
				<div class="sec_detail">
					<a (click)="selectProject(project)" [routerLink]="['/projects', project.id]">
						<img [src]="project.image_url" width="100%" class="img-responsive center-block" alt="image">
					</a>
					<div class="details1">
						<a (click)="selectProject(project)" [routerLink]="['/projects', project.id]">
							<h5>{{project.title}}</h5>
						</a>
						<p>
							<a>{{project.user_name}}</a>
							<a>
								<span class="onlinetxt active">Online</span>
							</a>
						</p>
						<p class="space15">A live action space opera by SETH ICKERMAN &amp;
							<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges two space hunters into a galactic chase...
						</p>
						<div class="row">
							<div class="col-md-9">
								<div class="row">
									<div class="col-md-3 col-sm-6 col-xs-6 space15">
										<p class="fsize11">{{project.percent_funded | number:'1.0-2'}}%
											<br>funded 
										</p>
									</div>
									<div class="col-md-3 col-sm-6 col-xs-6 space15">
										<p class="fsize11">${{project.pledged_amount}}
											<br>plegded
										</p>
									</div>
									<div class="col-md-3 col-sm-6 col-xs-6 space15">
										<p class="fsize11">{{project.total_backers}}
											<br>backers
											</p>
										</div>
										<div class="col-md-3 col-sm-6 col-xs-6 space15">
											<p class="fsize11">{{project.duration}}
												<br>days to go
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<img src="assets/img/funded.png" alt="icon">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

<section id="about_steps">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title">it’s about 03 simple steps</h2> 
        </div>        
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 space15">
          <div class="timeline2">
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-3 text-center">
                <div>
                  <img src="assets/img/1.png" class="space10" alt="img">
                  <img src="assets/img/dottedline.png" class="space10" alt="img">
                  
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-9">
                <div class="timeline2_cont">
                  <h4 class="bgclr4fb4b8">Attend when your favorite local events<br class="hidden-xs">come to town</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-3 text-center">
                <div>
                  <img src="assets/img/2.png" class="space10" alt="img">
                  <img src="assets/img/dottedline.png" class="space10" alt="img">
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-9">
                <div class="timeline2_cont">
                  <h4 class="bgclre16565">Attend when your favorite local events<br class="hidden-xs">come to town</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-3 text-center">
                <div>
                  <img src="assets/img/3.png" class="space10" alt="img">                  
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-9">
                <div class="timeline2_cont">
                  <h4 class="bgclr7787b2">Attend when your favorite local events<br class="hidden-xs">come to town</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 space15">
          <div class="video_sec">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/YE7VzlLtp-4?rel=0" frameborder="0" allowfullscreen=""></iframe>
          </div>
          <div class="">
            <h3>Got it? Subscribe to our newsletter now !</h3>
            <h4>We don’t send spam emails, promise.</h4>
            <form class="space15 text-center">
              <div class="form-group ">
                <label class="sr-only" for="exp1"></label>
                <input type="text" class="form-control inputtxt2" id="exp1" placeholder="Your Name Please ?">
              </div>
              <div class="form-group">
                <label class="sr-only" for="exp1"></label>
                <input type="text" class="form-control inputtxt2" id="exp1" placeholder="We Need Your Email Address too.">
              </div>
                           
              <button type="submit" class="subscribebtn">Subscribe Now, Thanks!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>-->
