<section id="mymenu1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
              aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <li><a href="#">Art</a></li>
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comics<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="active"><a href="#">All Comics Projects</a></li>
                  <li><a href="#">Anthologies </a></li>
                  <li><a href="#">Comic Books</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Graphic Novels</a></li>
                  <li><a href="#">Web Comics</a></li>
                </ul>
              </li>
              <li><a href="#">Crafts</a></li>

              <li><a href="#">Dance</a></li>
              <li><a href="#">Dance</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Fashion</a></li>
              <li><a href="#">Film & Video</a></li>
              <li><a href="#">Food Games</a></li>
              <li><a href="#">Music Photography</a></li>
              <li><a href="#">Publishing Technology</a></li>
              <li><a href="#">Theater</a></li>
            </ul>

          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

<section id="comicbok12">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="comicbok12_div">
          <div>
            <h1>COMIC BOOKS</h1>
            <p>Comics can make your <strong>life Excited and Pretty</strong></p>
          </div>
          <div class="comicbok12_overlay">
            <div class="row">
              <div class="col-md-5">
                <ul>
                  <li><a href="#">Home &nbsp;>></a></li>
                  <li><a href="#">Categories &nbsp;>></a></li>
                  <li><a href="#">Comics &nbsp;>></a></li>
                  <li><a href="#">Comic Books &nbsp;>></a></li>
                </ul>
              </div>
              <div class="col-md-7">
                <ul class="buttonslist">
                  <li><button type="button" class="listbtn">Magic</button></li>
                  <li><button type="button" class="listbtn">Popularity</button></li>
                  <li><button type="button" class="listbtn">Newest</button></li>
                  <li><button type="button" class="listbtn">End Date</button></li>
                  <li><button type="button" class="listbtn">Most Funded</button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="comics_secbtn">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6 space15">
        <h2 class="title11"><strong>TRENDING IN</strong></h2>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6 space15">
        <a href="#" class="comicsbtn1">COMICS BOOKS</a>
      </div>
      <div class="col-md-7 col-sm-6 col-xs-12 space15">
        <div id="linedot"></div>
      </div>
    </div>
  </div>
</section>

<section id="spinagogue1">
  <div class="container">
    <div class="spinagogue_bg1">
      <div class="row">
        <div class="col-md-4 padleft50">
          <img src="assets/img/img2.png" class="img-responsive center-block" alt="image">
        </div>
        <div class="col-md-8 padright50">
          <div class="spacing15">
            <h3>Spinagogue - The First-Ever Dreidel Spinning Stadium...</h3>
            <p>by Eric Pavony&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#" class="whiteclr"><img src="assets/img/icon2.png" alt="icon">&nbsp; Online</a>
            </p>
            <p class="space15">Dreidel is now a tabletop game of skill, played competitively and socially by spinners of all ages. No Gelt,
              No Glory!</p>
            <p class="space15"><span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Newyork, United States of America</span>
              <span class="padleft50"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp;Tabletop Games</span>
            </p>
            <div class="progress space10">
              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="spinagogue_details1">
  <div class="container">
    <div class="spinagogue_details1bg">
      <div class="row">
        <div class="col-md-8 padleft50">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 space15">
              <h2>44%<br>funded </h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 space15">
              <h2>$7,999<br>plegded</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 space15">
              <h2>175<br>backers</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 space15">
              <h2>31<br>days to go</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4 padright50">
          <div class="mybutton_div">
            <button type="button" class="mybtn">PARTICIPATE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="tranding_sec11">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="title11">COMICS <strong>COMPAIGNS</strong></h2>
      </div>
      <div class="col-md-8">
        <div id="linedot"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="mypagin1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                PREV. <strong>PAGE</strong> 
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                NEXT <strong>PAGE</strong> 
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>


<section id="explorebtn">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 space20">
        <button type="submit" class="expbtn1">EXPLORE CAMPAIGN</button>
      </div>
      <div class="col-md-6 col-sm-6 space20">
        <button type="submit" class="expbtn1">START A CAMPAIGN</button>
      </div>
    </div>
  </div>
</section>