<section id="banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 pad0">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class=""></li>
						<li data-target="#myCarousel" data-slide-to="1" class=""></li>
						<li data-target="#myCarousel" data-slide-to="2" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="3" class=""></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item">
              <img src="assets/img/img1.png" class="img-responsive center-block" width="100%" alt="img">
              <div class="carousel-caption">
                <h1 class="maintitle">WELCOME, MAXICO</h1>
                <p class="space20">THE LATEST IN ART, CULTURE &amp; SOCIETY</p>
              </div>
            </div>
            <div class="item active left">
              <img src="assets/img/img1.png" class="img-responsive center-block" width="100%" alt="img">
              <div class="carousel-caption">
                <h1 class="maintitle">WELCOME, MAXICO</h1>
                <p>THE LATEST IN ART, CULTURE &amp; SOCIETY</p>
              </div>
            </div>
            <div class="item next left">
              <img src="assets/img/img1.png" class="img-responsive center-block" width="100%" alt="img">
              <div class="carousel-caption">
                <h1 class="maintitle">WELCOME, MAXICO</h1>
                <p>THE LATEST IN ART, CULTURE &amp; SOCIETY</p>
              </div>
            </div>
									<div class="item">
										<img src="assets/img/img1.png" class="img-responsive center-block" width="100%" alt="img">
											<div class="carousel-caption">
												<h1 class="maintitle">WELCOME, MAXICO</h1>
												<p>THE LATEST IN ART, CULTURE &amp; SOCIETY</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

<section id="spinagogue">
	<div class="container">
		<div class="spinagogue_bg">
			<div class="row">
				<div class="col-md-4 padleft50">
					<img src="assets/img/img2.png" class="img-responsive center-block" alt="image">
					</div>
					<div class="col-md-8 padright50">
						<div class="">
							<h3>Spinagogue - The First-Ever Dreidel Spinning Stadium...</h3>
							<p>by Eric Pavony&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<a href="#" class="whiteclr">
									<img src="assets/img/icon2.png" alt="icon">&nbsp; Online
									</a>
								</p>
								<p class="space15">Dreidel is now a tabletop game of skill, played competitively and socially by spinners of all ages. No Gelt, No Glory!</p>
								<p class="space15">
									<span>
										<i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Newyork, United States of America
									</span>
									<span class="padleft50">
										<i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp;Tabletop Games
									</span>
								</p>
								<div class="progress space10">
									<div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
										<span class="sr-only"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

<section class="spinagogue_details">
	<div class="container">
		<div class="row">
			<div class="col-md-8 padleft50">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-6 space15">
						<h2>44%
							<br>funded 
							</h2>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-6 space15">
							<h2>$7,999
								<br>plegded
								</h2>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 space15">
								<h2>175
									<br>backers
									</h2>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6 space15">
									<h2>31
										<br>days to go
										</h2>
									</div>
								</div>
							</div>
							<div class="col-md-4 padright50">
								<div class="mybutton_div">
									<button type="button" class="mybtn">PARTICIPATE</button>
								</div>
							</div>
						</div>
					</div>
				</section>


<section id="tranding_sec">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="title">TRENDING PROJECTS</h2>
			</div>
			<div class="col-md-8">
				<button type="button" class="mybtn1">BROWSE ALL</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 space15">
				<a href="project-detail.html"></a>
				<div class="sec_detail">
					<a href="project-detail.html">
						<img src="assets/img/img4.png" width="100%" class="img-responsive center-block" alt="image">
						</a>
						<div class="details1">
							<a href="project-detail.html">
								<h5>BLOOD MACHINES - Turbo Killer 2</h5>
							</a>
							<p>
								<a href="project-detail.html">Seth Ickerman </a>
								<a href="#">
									<span class="onlinetxt active">Online</span>
								</a>
							</p>
							<p class="space15">A live action space opera by SETH ICKERMAN &amp;
								<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges two space hunters into a galactic chase...
								</p>
								<div class="row space15">
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-3 col-sm-6 col-xs-6 space15">
												<p class="fsize11">44%
													<br>funded 
													</p>
												</div>
												<div class="col-md-3 col-sm-6 col-xs-6 space15">
													<p class="fsize11">$7,999
														<br>plegded
														</p>
													</div>
													<div class="col-md-3 col-sm-6 col-xs-6 space15">
														<p class="fsize11">175
															<br>backers
															</p>
														</div>
														<div class="col-md-3 col-sm-6 col-xs-6 space15">
															<p class="fsize11">31
																<br>days to go
																</p>
															</div>
														</div>
													</div>
													<div class="col-md-3">
														<img src="assets/img/funded.png" alt="icon">
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-12 space15">
											<a href="project-detail.html"></a>
											<div class="sec_detail">
												<a href="project-detail.html">
													<img src="assets/img/img5.png" width="100%" class="img-responsive center-block" alt="image">
													</a>
													<div class="details1">
														<a href="project-detail.html">
															<h5>BLOOD MACHINES - Turbo Killer 2</h5>
														</a>
														<p>
															<a href="project-detail.html">Seth Ickerman </a>
															<a href="#">
																<span class="onlinetxt">Online</span>
															</a>
														</p>
														<p class="space15">A live action space opera by SETH ICKERMAN &amp;
															<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges two space hunters into a galactic chase...
															</p>
															<div class="row">
																<div class="col-md-9">
																	<div class="row">
																		<div class="col-md-3 col-sm-6 col-xs-6 space15">
																			<p class="fsize11">44%
																				<br>funded 
																				</p>
																			</div>
																			<div class="col-md-3 col-sm-6 col-xs-6 space15">
																				<p class="fsize11">$7,999
																					<br>plegded
																					</p>
																				</div>
																				<div class="col-md-3 col-sm-6 col-xs-6 space15">
																					<p class="fsize11">175
																						<br>backers
																						</p>
																					</div>
																					<div class="col-md-3 col-sm-6 col-xs-6 space15">
																						<p class="fsize11">31
																							<br>days to go
																							</p>
																						</div>
																					</div>
																				</div>
																				<div class="col-md-3">
																					<img src="assets/img/funded.png" alt="icon">
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-4 col-sm-4 col-xs-12 space15">
																		<a href="project-detail.html"></a>
																		<div class="sec_detail">
																			<a href="project-detail.html">
																				<img src="assets/img/img6.png" width="100%" class="img-responsive center-block" alt="image">
																				</a>
																				<div class="details1">
																					<a href="project-detail.html">
																						<h5>BLOOD MACHINES - Turbo Killer 2</h5>
																					</a>
																					<p>
																						<a href="project-detail.html">Seth Ickerman </a>
																						<a href="#">
																							<span class="onlinetxt active">Online</span>
																						</a>
																					</p>
																					<p class="space15">A live action space opera by SETH ICKERMAN &amp;
																						<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges two space hunters into a galactic chase...
																						</p>
																						<div class="row">
																							<div class="col-md-9">
																								<div class="row">
																									<div class="col-md-3 col-sm-6 col-xs-6 space15">
																										<p class="fsize11">44%
																											<br>funded 
																											</p>
																										</div>
																										<div class="col-md-3 col-sm-6 col-xs-6 space15">
																											<p class="fsize11">$7,999
																												<br>plegded
																												</p>
																											</div>
																											<div class="col-md-3 col-sm-6 col-xs-6 space15">
																												<p class="fsize11">175
																													<br>backers
																													</p>
																												</div>
																												<div class="col-md-3 col-sm-6 col-xs-6 space15">
																													<p class="fsize11">31
																														<br>days to go
																														</p>
																													</div>
																												</div>
																											</div>
																											<div class="col-md-3">
																												<img src="assets/img/funded.png" alt="icon">
																												</div>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</section>

<section id="about_steps">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title">it’s about 03 simple steps</h2> 
        </div>        
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 space15">
          <div class="timeline2">
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-3 text-center">
                <div>
                  <img src="assets/img/1.png" class="space10" alt="img">
                  <img src="assets/img/dottedline.png" class="space10" alt="img">
                  
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-9">
                <div class="timeline2_cont">
                  <h4 class="bgclr4fb4b8">Attend when your favorite local events<br class="hidden-xs">come to town</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-3 text-center">
                <div>
                  <img src="assets/img/2.png" class="space10" alt="img">
                  <img src="assets/img/dottedline.png" class="space10" alt="img">
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-9">
                <div class="timeline2_cont">
                  <h4 class="bgclre16565">Attend when your favorite local events<br class="hidden-xs">come to town</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-3 text-center">
                <div>
                  <img src="assets/img/3.png" class="space10" alt="img">                  
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-9">
                <div class="timeline2_cont">
                  <h4 class="bgclr7787b2">Attend when your favorite local events<br class="hidden-xs">come to town</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 space15">
          <div class="video_sec">
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/YE7VzlLtp-4?rel=0" frameborder="0" allowfullscreen=""></iframe>
          </div>
          <div class="">
            <h3>Got it? Subscribe to our newsletter now !</h3>
            <h4>We don’t send spam emails, promise.</h4>
            <form class="space15 text-center">
              <div class="form-group ">
                <label class="sr-only" for="exp1"></label>
                <input type="text" class="form-control inputtxt2" id="exp1" placeholder="Your Name Please ?">
              </div>
              <div class="form-group">
                <label class="sr-only" for="exp1"></label>
                <input type="text" class="form-control inputtxt2" id="exp1" placeholder="We Need Your Email Address too.">
              </div>
                           
              <button type="submit" class="subscribebtn">Subscribe Now, Thanks!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>




<!--<section id="mymenu1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-default">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
              aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <li><a href="#">Art</a></li>
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Comics<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="active"><a href="#">All Comics Projects</a></li>
                  <li><a href="#">Anthologies </a></li>
                  <li><a href="#">Comic Books</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Graphic Novels</a></li>
                  <li><a href="#">Web Comics</a></li>
                </ul>
              </li>
              <li><a href="#">Crafts</a></li>

              <li><a href="#">Dance</a></li>
              <li><a href="#">Dance</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Fashion</a></li>
              <li><a href="#">Film & Video</a></li>
              <li><a href="#">Food Games</a></li>
              <li><a href="#">Music Photography</a></li>
              <li><a href="#">Publishing Technology</a></li>
              <li><a href="#">Theater</a></li>
            </ul>

          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

<section id="comicbok12">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="comicbok12_div">
          <div>
            <h1>COMIC BOOKS</h1>
            <p>Comics can make your <strong>life Excited and Pretty</strong></p>
          </div>
          <div class="comicbok12_overlay">
            <div class="row">
              <div class="col-md-5">
                <ul>
                  <li><a href="#">Home &nbsp;>></a></li>
                  <li><a href="#">Categories &nbsp;>></a></li>
                  <li><a href="#">Comics &nbsp;>></a></li>
                  <li><a href="#">Comic Books &nbsp;>></a></li>
                </ul>
              </div>
              <div class="col-md-7">
                <ul class="buttonslist">
                  <li><button type="button" class="listbtn">Magic</button></li>
                  <li><button type="button" class="listbtn">Popularity</button></li>
                  <li><button type="button" class="listbtn">Newest</button></li>
                  <li><button type="button" class="listbtn">End Date</button></li>
                  <li><button type="button" class="listbtn">Most Funded</button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="comics_secbtn">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6 space15">
        <h2 class="title11"><strong>TRENDING IN</strong></h2>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-6 space15">
        <a href="#" class="comicsbtn1">COMICS BOOKS</a>
      </div>
      <div class="col-md-7 col-sm-6 col-xs-12 space15">
        <div id="linedot"></div>
      </div>
    </div>
  </div>
</section>

<section id="spinagogue1">
  <div class="container">
    <div class="spinagogue_bg1">
      <div class="row">
        <div class="col-md-4 padleft50">
          <img src="assets/img/img2.png" class="img-responsive center-block" alt="image">
        </div>
        <div class="col-md-8 padright50">
          <div class="spacing15">
            <h3>Spinagogue - The First-Ever Dreidel Spinning Stadium...</h3>
            <p>by Eric Pavony&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#" class="whiteclr"><img src="assets/img/icon2.png" alt="icon">&nbsp; Online</a>
            </p>
            <p class="space15">Dreidel is now a tabletop game of skill, played competitively and socially by spinners of all ages. No Gelt,
              No Glory!</p>
            <p class="space15"><span><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;Newyork, United States of America</span>
              <span class="padleft50"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;&nbsp;Tabletop Games</span>
            </p>
            <div class="progress space10">
              <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
                <span class="sr-only"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="spinagogue_details1">
  <div class="container">
    <div class="spinagogue_details1bg">
      <div class="row">
        <div class="col-md-8 padleft50">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 space15">
              <h2>44%<br>funded </h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 space15">
              <h2>$7,999<br>plegded</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 space15">
              <h2>175<br>backers</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 space15">
              <h2>31<br>days to go</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4 padright50">
          <div class="mybutton_div">
            <button type="button" class="mybtn">PARTICIPATE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="tranding_sec11">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="title11">COMICS <strong>COMPAIGNS</strong></h2>
      </div>
      <div class="col-md-8">
        <div id="linedot"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 space15">
        <a [routerLink]="['/projects','1']">
          <div class="sec_detail">
            <img src="assets/img/img30.png" width="100%" class="img-responsive center-block" alt="image">
            <div class="details1">
              <h5>BLOOD MACHINES - Turbo Killer 2</h5>
              <p>Seth Ickerman <a href="#"><span class="onlinetxt active">Online</span></a></p>
              <p class="space15">A live action space opera by SETH ICKERMAN &<br class="hidden-xs">CARPENTER BRUT. A female ghost challenges
                two space hunters into a galactic chase...</p>
              <div class="row space15">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">44%<br>funded </p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">$7,999<br>plegded</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">175<br>backers</p>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 space15">
                      <p class="fsize11">31<br>days to go</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <img src="assets/img/funded.png" alt="icon">
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section id="mypagin1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                PREV. <strong>PAGE</strong> 
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                NEXT <strong>PAGE</strong> 
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>-->
