<div class="row sign_1">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="onCloseModal()">×</button>
      <h1 class="modal-title">Sign up
        <span class="white_txt">Have an account? Log in now</span>
      </h1>
    </div>
    <div class="modal-body">
      <form #captchaProtectedForm="ngForm" [formGroup]="signupForm">
        <div class="input-group ">
          <input type="text" class="form-control loc1" formControlName="name" placeholder="Name">
            <p *ngIf="signupForm.get('name').hasError('required') && (signupForm.get('name').touched || formSubmit)" class="value-err show">Name is required</p>
        </div>
        <div class="input-group">
          <input type="email" class="form-control loc2" formControlName="email" placeholder="Your email address">
          <p *ngIf="signupForm.get('email').hasError('validateEMAIL') && (signupForm.get('email').touched || formSubmit)" class="value-err show">Email is not valid</p>
        </div>
        <!--<div class="input-group">
          <input type="password" class="form-control" formControlName="reEmail" placeholder="Re-enter email address">
        </div>-->
        <div class="input-group">
          <input type="password" class="form-control loc" formControlName="password" placeholder="Password">
          <p *ngIf="signupForm.get('password').hasError('minlength') && (signupForm.get('password').touched || formSubmit)" class="value-err show">Password must hav min 8 characters</p>
          <p *ngIf="signupForm.get('password').hasError('required') && (signupForm.get('password').touched || formSubmit)" class="value-err show">Password is required</p>
        </div>
        <div class="input-group">
          <input type="password" class="form-control" formControlName="passwordConfirmation" placeholder="Re-enter Password">
          <p *ngIf="signupForm.get('passwordConfirmation').hasError('validateConfirmPassword') && (signupForm.get('passwordConfirmation').touched || formSubmit)" class="value-err show">Password do not match</p>
          <p *ngIf="signupForm.get('passwordConfirmation').hasError('required') && (signupForm.get('passwordConfirmation').touched || formSubmit)" class="value-err show">Confirm Password is required</p>
        </div>
        <div class="form-group our">
          <input type="checkbox" id="custom_checkbox1">
          <label for="custom_checkbox1">Receive our weekly newsletter and  other occasional updates </label>
        </div>
        <div class="form-group">
           <re-captcha
            [(ngModel)]="formModel.captcha"
            [ngModelOptions]="{standalone: true}"
            name="captcha"
            required
            siteKey="6LcxzBwUAAAAAP9WU4R0GjNvGSqSL98TbmqlptGG"
            #captchaControl="ngModel"
          ></re-captcha>
          <div [hidden]="captchaControl.valid || captchaControl.pristine" class="error">Captcha must be solved</div>
          <div [hidden]="!captchaControl.valid" class="success">Captcha is valid</div>
          <button (click)="formModel.captcha = ''">Reset Captcha</button>
        </div>
        <div class="form-group">
          <button type="button" (click)="onSignUp()" class="btn up">SIGN ME UP</button>
        </div>
      </form>
      <p class="text-center by">By signing up, you agree to our
        <a href="#">
          <span class="blue"> terms of use, privacy policy,</span>
        </a> and 
        <a href="#">
          <span class="blue"> cookie policy. </span>
        </a>
      </p>
      <p class="text-center by space10">or signup with</p>
    </div>
    <div class="modal-footer">
      <p>
        <button class="btn fb" (click)="oAuthLogin('facebook')">
          <i class="fa fa-facebook" aria-hidden="true"></i>facebook
        </button>
        <button class="btn go" (click)="oAuthLogin('google')">
          <i class="fa fa-google" aria-hidden="true"></i>Google
        </button>
      </p>
      <p class="text-center by1 space10">We’ll never post anything on Facebook &amp; Google without your permission.</p>
    </div>
  </div>
</div>