<!--- tutorials -->
<div class="sub-bnr-flat">
  <div class="container">
    <h2>Dream it. Fund it. Make it. Ship it.<br>
      We help at every step from concept to market.</h2>
  </div>
</div>

<!--- Tutorials -->
<div class="tutorials_main">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="tutor_pdg">
          <h2>Tittle Goes Here </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <iframe  src="https://www.youtube.com/embed/841VcS9IxDc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      
      <!--- CROWDFUNDING -->
      <div class="col-sm-4">
        <div class="tutor_pdg">
          <h2>Tittle Goes Here </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <iframe  src="https://www.youtube.com/embed/841VcS9IxDc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      
      <!--- Marketplace -->
      <div class="col-sm-4">
        <div class="tutor_pdg">
          <h2>Tittle Goes Here </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <iframe  src="https://www.youtube.com/embed/841VcS9IxDc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Projects -->
<section class="projects">
  <div class="container">
    <div class="heading-block">
      <h2>Trending Projects</h2>
      <a href="#.">View All</a> </div>
    <div class="row"> 
      
      <!-- Projects Item -->
      <div class="col-md-4">
        <article>
          <div class="p-img"> <img src="assets/img/p-img-1.jpg" alt="" > </div>
          <div class="text-part"> <a href="#.">BLOOD MACHINES - Turbo Killer 2</a>
            <p>A live action space opera by SETH ICKERMAN & CARPENTER BRUT. A female ghost challenges two space hunters into a galactic chase...</p>
          </div>
          <ul>
            <li class="pouch-info"> <i class="pouch"></i> <span>44%</span> </li>
            <li> <i class="flaticon-target"></i> <span>$7,999</span> </li>
            <li> <i class="flaticon-user"></i> <span>179</span> </li>
            <li> <i class="flaticon-alarm-clock"></i> <span>13</span> </li>
          </ul>
        </article>
      </div>
      
      <!-- Projects Item -->
      <div class="col-md-4">
        <article>
          <div class="p-img"> <img src="assets/img/p-img-1.jpg" alt="" > </div>
          <div class="text-part"> <a href="#.">BLOOD MACHINES - Turbo Killer 2</a>
            <p>A live action space opera by SETH ICKERMAN & CARPENTER BRUT. A female ghost challenges two space hunters into a galactic chase...</p>
          </div>
          <ul>
            <li class="pouch-info"> <i class="pouch pouch-half"></i> <span>55%</span> </li>
            <li> <i class="flaticon-target"></i> <span>$7,999</span> </li>
            <li> <i class="flaticon-user"></i> <span>179</span> </li>
            <li> <i class="flaticon-alarm-clock"></i> <span>13</span> </li>
          </ul>
        </article>
      </div>
      
      <!-- Projects Item -->
      <div class="col-md-4">
        <article>
          <div class="p-img"> <img src="assets/img/p-img-1.jpg" alt="" > </div>
          <div class="text-part"> <a href="#.">BLOOD MACHINES - Turbo Killer 2</a>
            <p>A live action space opera by SETH ICKERMAN & CARPENTER BRUT. A female ghost challenges two space hunters into a galactic chase...</p>
          </div>
          <ul>
            <li class="pouch-info"> <i class="pouch"></i> <span>100%</span> </li>
            <li> <i class="flaticon-target"></i> <span>$7,999</span> </li>
            <li> <i class="flaticon-user"></i> <span>179</span> </li>
            <li> <i class="flaticon-alarm-clock"></i> <span>13</span> </li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</section>